.filter-container {
  background: white;
  border-radius: 20px;
  padding: 20px;
}

.info-section mat-card {
  padding-top: 16px;
  background: white;
}

.table-section mat-card {
  padding-top: 16px;
  background: white;
  padding-bottom: 30px;
}

mat-card-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
  padding: 0 16px;
}

mat-divider {
  margin: 8px 0;
}

ul {
  padding-left: 16px;
}

.mdc-button {
  min-width: 0px;
}

.circle-button {
  width: 48px;
  height: 48px;
  border-radius: 20%;
  border: 2px solid #cccccc;
  background-color: white;
  color: #0d47a1;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: none;
}

.circle-button:hover {
  background-color: #e3f2fd;
  border-color: #0d47a1;
}

.circle-button:focus {
  outline: none;
  box-shadow: none;
}

.btn-container {
  padding-right: 20px;
}

p {
  margin: 0;
}

.mat-mdc-row:nth-child(odd) {
  background: #e7e7e7;
}

.table-container {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding-top: 20px;
}

::ng-deep .mdc-text-field--filled.mdc-text-field--disabled .mdc-text-field__input {
  color: black !important;
  opacity: 1 !important;
}

.pin-location {
  cursor: pointer;
  width: 32px;
  height: 32px;
  margin-top: 12px;
  margin-bottom: 20px;
}

/* CSS Gráfico histórico */
.tabla-contenedor-historico {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  overflow-x: auto;
  max-width: 100%;
}

.leyenda {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
  justify-content: center;
}

.leyenda-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
  height: 20px;
}

#tablaHistorico {
  border-collapse: collapse;
  width: 100%;
}

#tablaHistorico tr {
  height: 30px;
}

#tablaHistorico td {
  text-align: center;
  max-width: 16px;
  font-size: 0.1em;
}

.regla td {
  font-family: 'Courier New', monospace;
  vertical-align: middle;
  position: relative;
  text-align: center;
  padding: 8px;
}

.regla td::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: black;
  transform: translateY(-50%);
}

.regla td::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 50%;
  background-color: black;
  transform: translateX(-50%) translateY(-50%);
}

.regla td:first-child {
  border-left: 2px solid black;
  height: 100%;
}

.regla td:last-child {
  border-right: 2px solid black;
}

.inicio-dia {
  border-left: 2px solid black !important; /* Más grueso */
}

.regla td .tercer-borde {
  position: absolute;
  top: 2px;
  right: 0;
  width: 1%;
  height: 80%;
  background-color: black;
}

#tablaHistorico.vista-general {
  table-layout: fixed;
  overflow-x: auto;
}

.icono-leyenda {
  width: 1.2vw; /* 5% del ancho de la pantalla */
  max-width: 100px; /* Límite para que no sea demasiado grande */
  height: auto; /* Mantiene la proporción */
}
/*  FIN PCD */
