.filter-container {
  background: white;
  border-radius: 20px;
  padding: 20px;
}

.info-section mat-card {
  padding-top: 16px;
  background: white;
}

.table-section mat-card {
  padding-top: 16px;
  background: white;
  padding-bottom: 30px;
}

mat-card-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
  padding: 0 16px;
}

mat-divider {
  margin: 8px 0;
}

ul {
  padding-left: 16px;
}

.mdc-button {
  min-width: 0px;
}

.circle-button {
  width: 48px;
  height: 48px;
  border-radius: 20%;
  border: 2px solid #cccccc;
  background-color: white;
  color: #0d47a1;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: none;
}

.circle-button:hover {
  background-color: #e3f2fd;
  border-color: #0d47a1;
}

.circle-button:focus {
  outline: none;
  box-shadow: none;
}

.btn-container {
  padding-right: 20px;
}

p {
  margin: 0;
}

.mat-mdc-row:nth-child(odd) {
  background: #e7e7e7;
}

.table-container {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding-top: 20px;
}

::ng-deep .mdc-text-field--filled.mdc-text-field--disabled .mdc-text-field__input {
  color: black !important;
  opacity: 1 !important;
}

.pin-location {
  cursor: pointer;
  width: 32px;
  height: 32px;
  margin-top: 12px;
  margin-bottom: 20px;
}

/* PCD */
.tabla-contenedor-historico {
  display: flex;
  flex-wrap: nowrap; /* Evita que los elementos dentro del contenedor se reorganicen */
  align-items: flex-start; /* Alineación vertical */
  justify-content: flex-start; /* Alineación horizontal */
  width: 100%;
  overflow-x: auto; /* Esto permite el desplazamiento horizontal si la tabla es demasiado ancha */
  max-width: 100%; /* Esto garantiza que el contenedor no se expanda más allá del 100% del ancho disponible */
}

/* Estilo para la leyenda de los iconos */
.leyenda {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los íconos verticalmente */
  margin-right: 10px; /* Espacio entre la leyenda y la tabla */
  justify-content: center; /* Alinea los íconos verticalmente en el centro */
}

/* Estilo para cada ítem de la leyenda */
.leyenda-item {
  display: flex;
  align-items: center;
  justify-content: center; /* Centra el contenido dentro de cada ítem */
  margin-bottom: 0px; /* Espacio entre los íconos */
  height: 20px; /* Asegura que todos los íconos tengan la misma altura */
}

/* Estilo de la tabla */
#tablaHistorico {
  border-collapse: collapse;
}

/* Estilo para las celdas de la tabla */
#tablaHistorico tr {
  height: 30px;
}

/* Estilo para las celdas de la tabla */
#tablaHistorico td {
  text-align: center;
  max-width: 16px;
  font-size: 0.1em;
}

/* ------------ REGLA ------------- */
.regla td {
  font-family: 'Courier New', monospace;
  vertical-align: middle;
  position: relative;
  text-align: center;
  padding: 8px;
}

/* Crear la línea horizontal central */
.regla td::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: black;
  transform: translateY(-50%);
}

/* Crear la barra vertical entre las horas */
.regla td::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 30%;
  background-color: black;
  transform: translateX(-50%) translateY(-50%);
}

/* Primer borde izquierdo de cada día */
.regla td:first-child {
  border-left: 2px solid black;
  height: 100%;
}

/* Último borde derecho al final del día */
.regla td:last-child {
  border-right: 2px solid black;
}

/* Borde derecho de las celdas intermedias (horas) */

.inicio-dia {
  border-left: 2px solid black !important; /* Más grueso */
}

.regla td .tercer-borde {
  position: absolute;
  top: 4px; /* Ajusta la posición si es necesario */
  right: 0;
  width: 1%;
  height: 60%; /* Altura del tercer borde */
  background-color: black; /* Cambia el color según sea necesario */
}
/*  FIN PCD */
