**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/*.csproj.user
**/*.suo
**/*.user
**/*.vspscc
**/*.vssscc
**/bin
**/obj
Dockerfile
README.md
.vs
.vscode
