################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/EZE_TECN_PROYECTO_SIGEMAD/DGPCE.Sigemad/DGPCE.Sigemad.API/appsettings.json
/EZE_TECN_PROYECTO_SIGEMAD/BasesDatos/Execute_scripts/config.ini
/EZE_TECN_PROYECTO_SIGEMAD/BasesDatos/Execute_scripts/Execute_scripts.ps1
