################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/EZE_TECN_PROYECTO_SIGEMAD/DGPCE.Sigemad/DGPCE.Sigemad.API/appsettings.json
/EZE_TECN_PROYECTO_SIGEMAD/BasesDatos/Execute_scripts/output.log
/EZE_TECN_PROYECTO_SIGEMAD/BasesDatos/Execute_scripts/execution_log_20241017134735.log
