<div class="d-flex-center mt-15">
  <div class="w-50 inter text-silver text-weight-bold">
    Resultados 1-{{ fires.pageSize }} de {{ fires.count }} ordenados por último
    registro (desc).
  </div>

  <div class="w-50 ms-50 text-right">
    <button (click)="openModal()" class="btn-blue">
      <img src="/assets/img/add-btn.svg" alt="add-btn" />
    </button>

    <button class="btn-green">
      <img src="/assets/img/excel-btn.svg" alt="excel-btn" />
    </button>

    <button class="btn-white">
      <img src="/assets/img/list-btn.svg" alt="list-btn" />
    </button>

    <button class="btn-white">
      <img src="/assets/img/location-btn.svg" alt="location-btn" />
    </button>
  </div>
</div>
