<form [formGroup]="formGroup">
  <div class="row" fxLayout="row wrap" fxLayoutGap="1%">
    <ng-container *ngFor="let field of fields">
      <div fxFlex="32%" class="campo">
        <!-- Campo tipo Text y Number -->

        <!--
        <mat-form-field class="input spaced-input full-width" *ngIf="field.tipoCampo === 'Text' || field.tipoCampo === 'Number'">
          <mat-label>{{ field.label }}</mat-label>
          <input matInput [type]="field.tipoCampo === 'Number' ? 'number' : 'text'" [formControlName]="field.campo" />
        </mat-form-field>
        -->

        <!-- PCD -->
        <mat-form-field class="input spaced-input full-width" *ngIf="field.tipoCampo === 'Text' || field.tipoCampo === 'Number'">
          <mat-label>{{ field.label }}</mat-label>
          <input
            matInput
            [type]="field.tipoCampo === 'Number' ? 'number' : 'text'"
            [formControlName]="field.campo"
            (keypress)="field.tipoCampo === 'Number' ? utilsService.allowOnlyNumbers($event) : null"
            [min]="field.tipoCampo === 'Number' ? 0 : null"
          />
        </mat-form-field>
        <!-- FIN  PCD -->

        <!-- Campo tipo Date o DateTime -->
        <mat-form-field class="input spaced-input full-width" *ngIf="field.tipoCampo === 'Date' || field.tipoCampo === 'Datetime'">
          <mat-label>{{ field.label }}</mat-label>
          <input matInput [matDatepicker]="picker" [formControlName]="field.campo" />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <!-- Campo tipo Checkbox -->
        <mat-checkbox [formControlName]="field.campo" *ngIf="field.tipoCampo === 'Checkbox'">
          {{ field.label }}
        </mat-checkbox>

        <!-- Campo tipo Select -->
        <mat-form-field class="input spaced-input full-width" *ngIf="field.tipoCampo === 'Select'">
          <mat-label>{{ field.label }}</mat-label>
          <mat-select [formControlName]="field.campo">
            <mat-option *ngFor="let option of field.options" [value]="option.id">
              {{ option.description }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </ng-container>
  </div>
</form>
