.row {
    width: 100%;
  }
  

  .campo {
    box-sizing: border-box;
  }
  
  .full-width {
    width: 100%;
  }
  
  .mat-form-field {
    width: 100%; /* Forzar que el campo ocupe todo el ancho del contenedor */
  }