<div>
  <div class="header font-size-24 p-11">
    <div></div>

    <div class="text-center text-green">Datos evolución</div>

    <div class="text-red text-right">Nuevo / Edición</div>
  </div>

  <div class="container">
    <div class="sidebar">
      <div
        class="cursor-pointer font-size-16 border-silver border-radius-8 p-10"
      >
        Dirección
      </div>
      <div
        class="cursor-pointer font-size-16 border-silver border-radius-8 p-10"
      >
        Coordinación CECOPI
      </div>
      <div
        class="cursor-pointer font-size-16 border-silver border-radius-8 p-10"
      >
        Coordinación PMA
      </div>
      <div
        class="cursor-pointer font-size-16 border-silver border-radius-8 p-10"
      >
        Activación plan emerg.
      </div>
    </div>

    <div>
      <form (submit)="submit()" [formGroup]="formGroup">
        <div
          class="content border-silver border-radius-8 p-20"
          style="width: 1200px; height: 600px; overflow-y: scroll"
        >
          <div>
            <div id="validation-evolution-error"></div>

            <div class="d-flex justify-content-between">
              <div class="font-size-16">
                <b>Alta:</b> sguijarro (SACOP) - 24/08/2024 17:24
              </div>

              <div class="font-size-16">
                <b>Ult. modificación:</b> sguijarro (SACOP) - 24/08/2024 17:24
              </div>
            </div>

            <div class="mt-14">
              <div class="font-size-20 font-weight-bold text-orange">
                DIRECCIÓN
              </div>
            </div>

            <div class="mt-10 d-flex justify-content-between">
              <div class="font-size-16">
                <b>Dirección</b>

                <select formControlName="address" class="font-size-16">
                  <option value="">Autonómica</option>
                </select>
              </div>

              <div class="font-size-16">
                <b>Autoridad que dirige</b>
                <input formControlName="directing_authority" type="text" value="Subdelegado de gobierno de Canarias" class="font-size-16">
              </div>
            </div>

            <div class="mt-10 d-flex justify-content-between">
              <div class="font-size-16">
                <b>Fecha inicio</b>
                <input formControlName="address_start" type="datetime-local" value="2024-08-20T00:00:00" class="font-size-16">
              </div>

              <div class="font-size-16">
                <b>Fecha fin</b>
                <input formControlName="address_end" type="datetime-local" value="2024-08-20T00:00:00" class="font-size-16">
              </div>
            </div>

            <div class="mt-30">
              <div class="font-size-20 font-weight-bold text-orange">
                COORDINACIÓN EN CECOPI
              </div>
            </div>

            <div class="mt-10 d-flex justify-content-between">
              <div class="font-size-16">
                <b>Fecha inicio</b>
                <input formControlName="cecopi_start" type="datetime-local" value="2024-08-20T00:00:00" class="font-size-16">
              </div>

              <div class="font-size-16">
                <b>Fecha fin</b>
                <input formControlName="cecopi_end" type="datetime-local" value="2024-08-20T00:00:00" class="font-size-16">
              </div>

              <div class="font-size-16">
                <b>Lugar</b>
                <input formControlName="cecopi_place" type="text" value="Delegación PC" class="font-size-16">

                <img
                  src="/assets/img/location-btn.svg"
                  height="20px"
                  alt="location"
                  class="cursor-pointer ml-10"
                  (click)="openModalMapCreate('CoordinacionCECOPI')"
                />
              </div>
            </div>

            <div class="mt-10 d-flex justify-content-between">
              <div class="font-size-16">
                <b>Provincia</b>
                <select formControlName="cecopi_province" class="font-size-16">
                  <option value="">Sta. Cruz de Tenerife</option>
                </select>
              </div>

              <div class="font-size-16">
                <b>Municipio</b>
                <select formControlName="cecopi_municipality" class="font-size-16">
                  <option value="">Santa María de Guía de Gran Canaria</option>
                </select>
              </div>
            </div>

            <div class="mt-10 d-flex justify-content-between">
              <div class="font-size-16">
                <b>Observaciones</b>
                <input formControlName="cecopi_observations" class="font-size-16" type="text"/>
              </div>
            </div>

            <div class="mt-30">
              <div class="font-size-20 font-weight-bold text-orange">
                COORDINACIÓN EN PMA
              </div>
            </div>

            <div class="mt-10 d-flex justify-content-between">
              <div class="font-size-16">
                <b>Fecha inicio</b>
                <input formControlName="pma_start" type="datetime-local" value="2024-08-20T00:00:00" class="font-size-16">
              </div>

              <div class="font-size-16">
                <b>Fecha fin</b>
                <input formControlName="pma_end" type="datetime-local" value="2024-08-20T00:00:00" class="font-size-16">
              </div>

              <div class="font-size-16">
                <b>Lugar</b>
                <input formControlName="pma_place" type="text" value="Delegación PC" class="font-size-16">

                <img
                  src="/assets/img/location-btn.svg"
                  height="20px"
                  alt="location"
                  class="cursor-pointer ml-10"
                  (click)="openModalMapCreate('CoordinacionPMA')"
                />
              </div>
            </div>

            <div class="mt-10 d-flex justify-content-between">
              <div class="font-size-16">
                <b>Provincia</b>
                <select formControlName="pma_province" class="font-size-16">
                  <option value="">Sta. Cruz de Tenerife</option>
                </select>
              </div>

              <div class="font-size-16">
                <b>Municipio</b>
                <select formControlName="pma_municipality" class="font-size-16">
                  <option value="">Santa María de Guía de Gran Canaria</option>
                </select>
              </div>
            </div>

            <div class="mt-10 d-flex justify-content-between">
              <div class="font-size-16">
                <b>Observaciones</b>
                <input formControlName="pma_observations" class="font-size-16" type="text"/>
              </div>
            </div>

            <div class="mt-30">
              <div class="font-size-20 font-weight-bold text-orange">
                ACTIVACIÓN DE PLANES DE EMERGENCIA
              </div>
            </div>

            <div class="mt-10 d-flex justify-content-between">
              <div class="font-size-16">
                <b>Tipo de plan</b>

                <select formControlName="plan_type" class="font-size-16">
                  <option value="">Autoprotección</option>
                </select>
              </div>

              <div class="font-size-16">
                <b>Nombre del plan</b>
                <input formControlName="plan_name" type="text" value="Plan contraincendios Canarias 2024" class="font-size-16">
              </div>
            </div>

            <div class="mt-10 d-flex justify-content-between">
              <div class="font-size-16">
                <b>Autoridad que lo activa</b>
                <input formControlName="activating_authority" type="text" value="Subdelegación de gobierno de Canarias" class="font-size-16">
              </div>
            </div>

            <div class="mt-12 d-flex justify-content-between">
              <div class="font-size-16">
                <b>Documento de activación</b>

                <span class="input-file">documento_activacion_20240820.pdf</span>

                <span class="input-file" style="margin-left: -1px">
                  <img style="width: 18px" src="/assets/img/clip.png" alt="clip" class="cursor-pointer">
                </span>
              </div>
            </div>

            <div class="mt-10 d-flex justify-content-between">
              <div class="font-size-16">
                <b>Fecha inicio</b>
                <input formControlName="activating_start" type="datetime-local" value="2024-08-20T00:00:00" class="font-size-16">
              </div>

              <div class="font-size-16">
                <b>Fecha fin</b>
                <input formControlName="activating_end" type="datetime-local" value="2024-08-20T00:00:00" class="font-size-16">
              </div>
            </div>

            <div class="mt-10 d-flex justify-content-between">
              <div class="font-size-16">
                <b>Observaciones</b>
                <input formControlName="activating_observations" class="font-size-16" type="text"/>
              </div>
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-between mt-20">
          <div>
            <button type="button" class="btn-white">
              <img
                class="w-30 h-30"
                src="/assets/img/left-all.svg"
                alt="left-all"
              />
            </button>

            <button type="button" class="btn-white">
              <img class="w-30 h-30" src="/assets/img/left.svg" alt="left" />
            </button>

            <button type="button" class="btn-white">
              <img class="w-30 h-30" src="/assets/img/right.svg" alt="right" />
            </button>

            <button type="button" class="btn-white">
              <img
                class="w-30 h-30"
                src="/assets/img/right-all.svg"
                alt="right-all"
              />
            </button>
          </div>

          <div>
            <button type="submit" class="btn-blue">
              <img class="w-30 h-30" src="/assets/img/check.svg" alt="check" />
            </button>

            <button (click)="closeModal()" type="button" class="btn-white">
              <img class="w-30 h-30" src="/assets/img/close.svg" alt="close" />
            </button>

            <button (click)="closeModal()" type="button" class="btn-white">
              <img class="w-30 h-30" src="/assets/img/back.svg" alt="back" />
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
