
  
  <!-- Acordeón para Filtros -->
  <mat-accordion multi>
    <mat-expansion-panel #filterPanel>
      <mat-expansion-panel-header>
        <mat-panel-title>Filtros</mat-panel-title>
      </mat-expansion-panel-header>
  
      <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start stretch" class="filter-container">
        <mat-form-field appearance="fill" fxFlex="25">
          <mat-label>Denominación</mat-label>
          <input matInput [formControl]="getForm('name')" placeholder="Ingresa texto" required />
          <mat-error *ngIf="formData.get('name')?.hasError('required')">
            Este campo es obligatorio.
          </mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="fill" fxFlex="25">
          <mat-label>Territorio</mat-label>
          <mat-select [formControl]="getForm('territory')" (selectionChange)="changeTerritory($event)">
            <mat-option *ngFor="let option of territories()" [value]="option.id">
              {{ option.descripcion }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formData.get('territory')?.hasError('required')">
            Este campo es obligatorio.
          </mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="fill" fxFlex="25">
          <mat-label>Estado</mat-label>
          <input
            matInput
            [matAutocomplete]="auto"
            [formControl]="getForm('country')"
            placeholder="Selecciona un estado"
          />
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredCountries()" [value]="option.descripcion">
              {{ option.descripcion }}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="formData.get('country')?.hasError('required')">
            Este campo es obligatorio.
          </mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="fill" fxFlex="25">
          <mat-label>CCAA</mat-label>
          <mat-select [formControl]="getForm('autonomousCommunity')" (selectionChange)="loadProvinces($event)">
            <mat-option *ngFor="let option of autonomousCommunities()" [value]="option.id">
              {{ option.descripcion }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formData.get('autonomousCommunity')?.hasError('required')">
            Este campo es obligatorio.
          </mat-error>
        </mat-form-field>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="16px" style="width: 100%;" class="button-container">
    <!-- Botón Buscar -->
    <button mat-flat-button color="primary" aria-label="Buscar" class="custom-button">
      <mat-icon>search</mat-icon>
      Buscar
    </button>
  
    <!-- Botón Filtro -->
    <button mat-flat-button color="primary" aria-label="Filtrar" class="custom-button" (click)="toggleAccordion(filterPanel)">
      <mat-icon>filter_list</mat-icon>
      Filtrar
    </button>
  
    <!-- Botón Borrar -->
    <button mat-flat-button color="primary" aria-label="Borrar" class="custom-button">
      <mat-icon>delete</mat-icon>
      Borrar
    </button>
  </div>