<nav class="navbar navbar-expand-sm ">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="listadoAlertas">Alertas</a>
        <a class="navbar-brand" routerLink="listadoEstadosAlertas">Estados Alertas</a>

        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
            </ul>
            <div class="d-flex">
            </div>
        </div>
    </div>
</nav>
