:host * {
  transition: all 500ms ease-in-out;
}
.sidenav-header {
  padding-top: 24px;
  text-align: center;

  > img {
    object-fit: cover;
    margin-bottom: 10px;
  }

  .header-text {
    > h2 {
      margin: 0;
      font-size: 1rem;
      line-height: 1.5rem;
    }

    > p {
      margin: 0;
      font-size: 0.8rem;
    }
  }
}

.selected-menu-item {
  border-left: 5px solid;
  border-left-color: blue;
  background: rgb(0, 0, 0, 05);
}

.menu-item {
  border-left: 5px solid;
  border-left-color: rgb(0, 0, 0, 0);
  height: 40px !important;
}

.submenu-item {
  font-size: 10px !important;
  height: 40px !important;
}

// PCD
.submenu .submenu-item {
  padding-left: 15%;
}

.user-label {
  width: calc(100% - 16px); /* Resta un pequeño margen para evitar el desbordamiento */
  max-width: 100%; /* Asegura que no se pase del contenedor */
  overflow: hidden; /* Evita el scroll */
  white-space: nowrap; /* Mantiene todo en una línea */
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box; /* Incluye padding/border en el ancho total */
}
// FIN PCD

.mat-mdc-list-base {
  padding-left: 7px;
  padding-right: 7px;
}

ngx-spinner {
  z-index: 1000 !important;
}

.user-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f1f1f1;
}

.user-label mat-icon {
  margin-right: 8px;
  font-size: 20px;
  color: black;
}

.user-info {
  display: flex;
  align-items: center;
  margin-left: 8px;
  flex-wrap: wrap;
}

.logout {
  display: flex;
  align-items: center;
  margin-top: 5px;
  cursor: pointer;
  font-size: 12px;
  color: #f44336;
}

.logout mat-icon {
  margin-right: 4px;
  font-size: 18px;
  color: #f44336;
}

.logout:hover {
  text-decoration: underline;
}
