:host * {
  transition: all 500ms ease-in-out;
}
.sidenav-header {
  padding-top: 24px;
  text-align: center;

  > img {
    object-fit: cover;
    margin-bottom: 10px;
  }

  .header-text {
    > h2 {
      margin: 0;
      font-size: 1rem;
      line-height: 1.5rem;
    }

    > p {
      margin: 0;
      font-size: 0.8rem;
    }
  }
}

.selected-menu-item {
  border-left: 5px solid;
  border-left-color: blue;
  background: rgb(0, 0, 0, 05);
}

.menu-item {
  border-left: 5px solid;
  border-left-color: rgb(0, 0, 0, 0);
  height: 40px !important;
}

.submenu-item {
  font-size: 10px !important;
  height: 40px !important;
}

.mat-mdc-list-base {
  padding-left: 7px;
  padding-right: 7px;
}

ngx-spinner {
  z-index: 1000 !important;
}
