<div class="ms-30">
	<div class="text-green mt-20 font-size-24 inter text-center">Crear incendio</div>

	<div class="d-flex mt-30">
		<div class="inter p-12 font-weight-bold font-size-16 w-120">
			Territorio
		</div>

		<div class="w-300">
			<select (change)="onChange($event)" class="form-control">
				<option value="Nacional">Nacional</option>
				<option selected value="Extranjero">Extranjero</option>
			</select>
		</div>

		<div class="inter p-12 font-weight-bold font-size-16 w-120 ms-30">
			País
		</div>

		<div>
			<select class="form-control">
				<option value="">Portugal</option>
			</select>
		</div>
	</div>

	<div class="d-flex mt-15">
		<div class="inter p-12 font-weight-bold font-size-16 w-120">
			Tipo de suceso
		</div>

		<div>
			<select class="form-control">
				<option value="">Suceso real</option>
			</select>
		</div>

		<div class="inter p-12 font-weight-bold font-size-16 w-120 ms-30">
			Ubicación
		</div>

		<div>
			<select class="form-control">
				<option value="">Miranda do Douro</option>
			</select>
		</div>

		<img style="margin-left: 10px" src="/img/location-btn.svg" alt="location-btn">
	</div>

	<div class="d-flex mt-15">
		<div class="inter p-12 font-weight-bold font-size-16 w-120">
			Denominación
		</div>

		<div class="w-300">
			<input class="form-control" placeholder="Santa María de Guía de Gran Canaria">
		</div>

		<div class="inter p-12 font-weight-bold font-size-16 ms-30 w-120">
			Fecha de inicio
		</div>

		<div class="me-30">
			<input type="datetime-local" class="form-control">
		</div>
	</div>

	<div class="d-flex mt-15">
		<div class="inter w-120 p-12 font-weight-bold font-size-16">
			Contenido
		</div>

		<div>
			<textarea cols="87" rows="4" class="form-control"></textarea>
		</div>
	</div>

	<div class="d-flex mt-15">
		<div class="inter w-120 p-12 font-weight-bold font-size-16">
			Comentarios
		</div>

		<div>
			<textarea cols="87" rows="4" class="form-control"></textarea>
		</div>
	</div>

	<div class="mt-30 mb-30 text-right" style="margin-right: 50px">
		<button class="btn-blue">
			<img src="/img/check.svg" alt="check">
		</button>

		<button (click)="closeModal()" class="btn-white">
			<img src="/img/close.svg" alt="close">
		</button>
	</div>
</div>