#map {
  height: 600px;
  width: 600px;
}

.container {
  width: 780px !important;
  height: 780px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mt-4 {
  margin-top: 16px;
}

.flex-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
