<div class="mat-elevation-z8 table-container">
  <table mat-table [dataSource]="opeDatosFronteras" matSort class="mat-table">
    <ng-container matColumnDef="opeFrontera">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Frontera</th>
      <td mat-cell *matCellDef="let opeDatoFrontera">
        {{ opeDatoFrontera.opeFrontera.nombre }}
      </td>
    </ng-container>

    <!-- Fecha hora inicio intervalo -->
    <ng-container matColumnDef="fechaHoraInicioIntervalo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha hora inicio intervalo</th>
      <td mat-cell *matCellDef="let opeDatoFrontera">{{ getFechaFormateada(opeDatoFrontera.fechaHoraInicioIntervalo) }}</td>
    </ng-container>

    <!-- Fecha hora fin intervalo -->
    <ng-container matColumnDef="fechaHoraFinIntervalo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha hora fin intervalo</th>
      <td mat-cell *matCellDef="let opeDatoFrontera">{{ getFechaFormateada(opeDatoFrontera.fechaHoraFinIntervalo) }}</td>
    </ng-container>

    <!-- Nº Vehiculos -->
    <ng-container matColumnDef="numeroVehiculos">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nº vehículos</th>
      <td mat-cell *matCellDef="let opeDatoFrontera">{{ opeDatoFrontera.numeroVehiculos }}</td>
    </ng-container>

    <!-- Afluencia -->
    <ng-container matColumnDef="afluencia">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Afluencia</th>
      <td mat-cell *matCellDef="let opeDatoFrontera">{{ opeDatoFrontera.afluencia }}</td>
    </ng-container>

    <!-- Opciones Column -->
    <ng-container matColumnDef="opciones">
      <th mat-header-cell *matHeaderCellDef>Opciones</th>
      <td mat-cell *matCellDef="let opeDatoFrontera" class="text-center">
        <a (click)="goModalEdit(opeDatoFrontera)">
          <img src="/assets/img/edit.svg" alt="Editar" appTooltip="Datos de frontera" />
        </a>
        <a (click)="deleteOpeDatoFrontera(opeDatoFrontera.id)">
          <img src="/assets/img/delete-btn.svg" alt="Borrar" appTooltip="Borrar frontera" />
        </a>
      </td>
    </ng-container>

    <!-- Header and Rows -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-spinner *ngIf="isLoading" class="spinner"></mat-spinner>

  <!-- Paginator -->
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
