<div class="container gap-4 flex-column align-items-center justify-content-center p-4" cdkDrag
  cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
  <!-- <span class="mapa-titulo" *ngIf="close">Mapa de ubicación</span> -->

  <div class="coordinate-search">
    <span class="coordinates-display">{{ coordinates }}</span>
    <input type="text" id="utm-x" placeholder="UTM X" />
    <input type="text" id="utm-y" placeholder="UTM Y" />
    <button (click)="searchCoordinates()" mat-raised-button color="secondary">Buscar</button>
  </div>

  <div id="map"></div>

  <div class="p-flex mt-20" *ngIf="!data.onlyView">
    <div>
      <button (click)="closeModal()" *ngIf="close" mat-raised-button color="secondary">Cancelar</button>
      <button (click)="savePolygon()" *ngIf="close" mat-flat-button color="primary">Guardar</button>
    </div>
  </div>

  <div class="p-flex mt-20" *ngIf="data.onlyView">
    <div>
      <button (click)="closeModal()" mat-flat-button color="secondary">Cerrar</button>
    </div>
  </div>

  <div id="popup" class="ol-popup">
    <div id="popup-content"></div>
  </div>
</div>