<div class="form-container">
  <form *ngIf="formData" [formGroup]="formData">
    <!-- REGISTRO -->
    <div>
      <h3 class="title">REGISTRO</h3>
      <div class="row" fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="start center">
        <mat-form-field appearance="fill" fxFlex="25%" class="mb-3">
          <mat-label>Fecha y Hora</mat-label>
          <input matInput [matDatepicker]="picker1" [formControl]="getForm('startDate')" />
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="input spaced-input" fxFlex="25%">
          <mat-label>Entrada / salida</mat-label>
          <mat-select formControlName="inputOutput">
            <mat-option *ngFor="let option of inputOutputs()" [value]="option.id">
              {{ option.descripcion }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="input spaced-input" fxFlex="25%">
          <mat-label>Medio</mat-label>
          <mat-select formControlName="media">
            <mat-option *ngFor="let medio of medias()" [value]="medio.id">
              {{ medio.descripcion }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="input spaced-input" fxFlex="50%">
          <mat-label>Procedencia / Destino</mat-label>
          <mat-select formControlName="originDestination" multiple>
            <mat-option *ngFor="let option of originDestinations()" [value]="option">
              {{ option.descripcion }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <!-- DATOS PRINCIPALES -->
    <div>
      <h3 class="title">DATOS PRINCIPALES</h3>

      <div class="row" fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="start center">
        <mat-form-field appearance="fill" fxFlex="25%" class="mb-3">
          <mat-label>Fecha y hora de actualización</mat-label>
          <input matInput [matDatepicker]="picker2" [formControl]="getForm('datetimeUpdate')" />
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="input spaced-input" fxFlex="75%">
          <mat-label>Observaciones</mat-label>
          <textarea matInput [formControl]="getForm('observations_1')"></textarea>
        </mat-form-field>
      </div>

      <div class="row" fxLayout="row" fxLayoutAlign="start center">
        <mat-form-field class="input full-width-input" fxFlex="99%">
          <mat-label>Previsión</mat-label>
          <textarea matInput [formControl]="getForm('forecast')"></textarea>
        </mat-form-field>
      </div>
    </div>

    <!-- PARÁMETROS -->
    <div>
      <h3 class="title">PARÁMETROS</h3>
      <div class="row" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
        <mat-form-field class="input spaced-input" fxFlex="25%">
          <mat-label>Estado del incendio</mat-label>
          <mat-select formControlName="status"  (selectionChange)="selectStatus($event)">
            <mat-option *ngFor="let op of status()" [value]="op.id">
              {{ op.descripcion }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="input spaced-input" fxFlex="25%">
          <mat-label>Fecha final</mat-label>
          <input matInput [matDatepicker]="picker3" [formControl]="getForm('end_date')" />
          <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
          <mat-datepicker #picker3></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="input spaced-input" fxFlex="50%">
          <mat-label>Plan de emergencias activado</mat-label>
          <mat-select formControlName="emergencyPlanActivated" (selectionChange)="loadPhases($event)">
            <mat-option *ngFor="let op of typesPlans()" [value]="op.id">
              {{ op.descripcion }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="row" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
        <mat-form-field class="input spaced-input" fxFlex="25%">
          <mat-label>Fase</mat-label>
          <mat-select formControlName="phases" (selectionChange)="loadSituationPlans($event)">
            <mat-option *ngFor="let op of phases()" [value]="op.id">
              {{ op.descripcion }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="input spaced-input" fxFlex="25%">
          <mat-label>Nivel / Situación</mat-label>
          <mat-select formControlName="nivel" (selectionChange)="loadSituacionEquivalente($event)">
            <mat-option *ngFor="let op of niveles()" [value]="op.id">
              {{ op.nivelSituacion }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="input spaced-input" fxFlex="25%">
          <mat-label>Situación operativa equivalente</mat-label>
          <mat-select formControlName="operativa">
            <mat-option *ngFor="let op of situationEquivalent()" [value]="op.id">
              {{ op.descripcion }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="input spaced-input" fxFlex="25%">
          <mat-label>Superficie afectada (Ha)</mat-label>
          <input
            matInput
            [formControl]="getForm('afectada')"
            type="number"
            placeholder="Ingresa área"
            (keypress)="allowOnlyNumbersAndDecimal($event)"
          />
        </mat-form-field>
      </div>
    </div>
  </form>

  <div class="modal-footer" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
    <div *ngIf="esUltimo" fxFlex="none">
      <button (click)="delete()" mat-flat-button [style.background-color]="'var(--fire-color)'">Eliminar</button>
    </div>
    <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px" fxFlex="auto">
      <button mat-flat-button color="accent" (click)="closeModal()">Volver</button>
      <button mat-flat-button color="primary" (click)="sendDataToEndpoint()">Guardar</button>
    </div>
  </div>
</div>
