<table *ngIf="!cargando && alertas.length > 0" class="table mt-3 animated fadeIn faster">
    <thead class="table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Fecha Alerta</th>
            <th scope="col">Estado</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let alerta of alertas; let i = index;">
            <th scope="row">{{ i + 1 }}</th>
            <td><a routerLink="/alerta/{{ alerta.id }}">{{ alerta.descripcion }}</a></td>
            <td>{{ alerta.fechaAlerta }}</td>
            <td>{{ alerta.estadoAlerta?.descripcion}}</td>
        </tr>
    </tbody>
</table>

<div class="alert alert-warning text-center mt-3 animated fadeIn faster" *ngIf="!cargando && alertas.length === 0">
    <h4 class="alert-heading">No hay registros a mostrar</h4>
    <p>
        <i class=" fa fa-exclamation fa-2x"></i>
    </p>
</div>

<div class="alert alert-info text-center mt-3 animated fadeIn faster" *ngIf="cargando">
    <h4 class="alert-heading">Cargando...</h4>
    <p>
        <i class=" fa fa-sync-alt fa-spin fa-2x"></i>
    </p>
    <p class="mb-0">
        Espere por favor.
    </p>
</div>
