@use '../../../../styles.scss' as theme;

.container {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  overflow-x: hidden;
}

.form-container {
  flex: 0.8;
  min-width: 0;
  background: #ececec;
  border-radius: 20px;
  padding: 20px;
  margin-right: 10px;
}

.spaced-input {
  margin-right: 15px;
}

.modal-header {
  text-align: center;
}

.modal-footer {
  padding-top: 20px;
  border-top: 1px solid #ccc;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: var(--fire-color);
}

.mat-mdc-row:nth-child(odd) {
  background: #e7e7e7;
}

.table-container {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.pin-location {
  cursor: pointer;
  width: 32px;
  height: 32px;
  margin-top: 12px;
  margin-bottom: 20px;
}

.map-container {
  flex: 1;
  min-width: 0;
  overflow: hidden;
  border: 1px solid #ccc;
}
