<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SIGEMAD</title>
</head>
<body>
	<div class="d-flex">
		<div class="sidebar">
			<div>
				<img src="/img/burger.svg" alt="burger">
			</div>

			<div class="mt-32 mb-34">
				<img src="/img/logo.svg" class="w-213" alt="burger">
			</div>

			<div *ngFor="let item of menu" (click)="redirectTo(item.path)" class="calibri cursor-pointer menu-item p-7 rounded mt-0" [style]="active == item.path ? 'border: 1px solid rgb(' + item.color + '); background-color: rgb(' + item.color + ', 0.50)' : ''">
				<img src="{{ item.icon }}" alt="{{ item.name }}"> {{ item.name }}
			</div>

			<div (click)="collapse('naturals')" class="menu-item text-info font-weight-bold text-uppercase mt-7 mb-5 ms-10 cursor-pointer calibri">Riesgos naturales</div>

			<div *ngIf="showNaturals">
				<div *ngFor="let item of naturals" (click)="redirectTo(item.path)" class="cursor-pointer menu-item p-7 rounded mt-0" [style]="active == item.path ? 'border: 1px solid rgb(' + item.color + '); background-color: rgb(' + item.color + ', 0.50)' : ''">
					<img src="{{ item.icon }}" alt="{{ item.name }}"> {{ item.name }}
				</div>				
			</div>

			<div (click)="collapse('technologicals')" class="menu-item text-info font-weight-bold text-uppercase mt-7 mb-5 ms-10 cursor-pointer calibri">Riesgos tecnológicos</div>

			<div *ngIf="showTechnologicals">
				<div *ngFor="let item of technologicals" (click)="redirectTo(item.path)" class="cursor-pointer menu-item p-7 rounded mt-0" [style]="active == item.path ? 'border: 1px solid rgb(' + item.color + '); background-color: rgb(' + item.color + ', 0.50)' : ''">
					<img src="{{ item.icon }}" alt="{{ item.name }}"> {{ item.name }}
				</div>				
			</div>

			<div (click)="collapse('others')" class="menu-item text-info font-weight-bold text-uppercase mt-7 mb-5 ms-10 cursor-pointer calibri">Otros riesgos</div>

			<div *ngIf="showOthers">
				<div class="cursor-pointer menu-item p-7 rounded mt-0" (click)="redirectTo(item.path)" *ngFor="let item of others" [style]="active == item.path ? 'border: 1px solid rgb(' + item.color + '); background-color: rgb(' + item.color + ', 0.50)' : ''">
					<img src="{{ item.icon }}" alt="{{ item.name }}"> {{ item.name }}
				</div>				
			</div>

			<div (click)="collapse('utilities')" class="menu-item text-info font-weight-bold text-uppercase mt-7 mb-5 ms-10 cursor-pointer calibri">Utilidades</div>

			<div *ngIf="showUtilities">
				<div class="cursor-pointer menu-item p-7 rounded mt-0" (click)="redirectTo(item.path)" *ngFor="let item of utilities" [style]="active == item.path ? 'border: 1px solid rgb(' + item.color + '); background-color: rgb(' + item.color + ', 0.50)' : ''">
					<img src="{{ item.icon }}" alt="{{ item.name }}"> {{ item.name }}
				</div>				
			</div>

			<div (click)="collapse('admins')" class="menu-item text-info font-weight-bold text-uppercase mt-7 mb-5 ms-10 cursor-pointer calibri">Administración</div>

			<div *ngIf="showAdmins">
				<div class="cursor-pointer menu-item p-7 rounded mt-0" (click)="redirectTo(item.path)" *ngFor="let item of admins" [style]="active == item.path ? 'border: 1px solid rgb(' + item.color + '); background-color: rgb(' + item.color + ', 0.50)' : ''">
					<img src="{{ item.icon }}" alt="{{ item.name }}"> {{ item.name }}
				</div>				
			</div>

			<div class="mt-55vh">
				<div class="d-flex gap-5">
					<div>
						<img src="/img/user.svg" alt="">
					</div>

					<div>
						<div>
							{{ user.name }}
						</div>

						<div>
							{{ user.role }}
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="main">
			<router-outlet></router-outlet>
		</div>
	</div>
</body>
</html>