<div style="padding: 10px 50px">
  <div class="mt-20 inter title-modal">Crear incendio</div>
  <div *ngIf="error" class="text-center alert-danger">
    Se produjeron uno o más errores de validación
  </div>

  <form (ngSubmit)="onSubmit()" [formGroup]="formData">
    <div *ngIf="!showInputForeign">
      <div class="form-column mt-15">
        <div class="form-row">
          <div class="form-column">
            <div class="form-container2">
              <div class="form-row">
                <div class="inter p-12 font-weight-bold font-size-16 w-120">
                  Territorio
                </div>
                <p-dropdown
                  formControlName="territory"
                  [options]="territories()"
                  optionLabel="descripcion"
                  placeholder="Territorio"
                  optionValue="id"
                  (onChange)="onChange($event)"
                  [style]="{ width: '100%' }"
                  class="form-column"
                  emptyMessage=" "
                />
              </div>
            </div>
          </div>

          <div class="form-column">
            <div class="form-container2">
              <div class="form-row">
                <div class="inter p-12 font-weight-bold font-size-16 w-120">
                  Clase de suceso
                </div>
                <p-dropdown
                  formControlName="event"
                  [options]="events()"
                  optionLabel="descripcion"
                  optionValue="id"
                  placeholder="Clase suceso"
                  [style]="{ width: '100%' }"
                  class="form-column"
                  emptyMessage=" "
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-column mt-15">
        <div class="form-row">
          <div class="form-column">
            <div class="form-container2">
              <div class="form-row">
                <div class="inter p-12 font-weight-bold font-size-16 w-120">
                  Provincia
                </div>
                <p-dropdown
                  formControlName="province"
                  [options]="provinces()"
                  optionLabel="descripcion"
                  placeholder="Provincia"
                  optionValue="id"
                  (onChange)="loadMunicipalities($event)"
                  [style]="{ width: '100%' }"
                  class="form-column"
                  emptyMessage=" "
                />
              </div>
            </div>
          </div>

          <div class="form-column">
            <div class="form-container2">
              <div class="form-row">
                <div class="inter p-12 font-weight-bold font-size-16 w-120">
                  Municipio
                </div>
                <p-dropdown
                  formControlName="municipality"
                  [options]="municipalities()"
                  optionLabel="descripcion"
                  placeholder="Municipio"
                  optionValue="id"
                  (onChange)="setMunicipalityId($event)"
                  [style]="{ width: '100%' }"
                  class="form-column"
                  emptyMessage=" "
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-column mt-15">
        <div class="form-row">
          <div class="form-column">
            <div class="form-container2">
              <div class="form-row">
                <div class="inter p-12 font-weight-bold font-size-16 w-120">
                  Denominación
                </div>
                <input
                  type="text"
                  pInputText
                  formControlName="denomination"
                  placeholder="Santa María de Guía de Gran Canaria"
                  [style]="{ width: '100%' }"
                  class="form-column"
                />
              </div>
            </div>
          </div>

          <div class="form-column">
            <div class="form-container2">
              <div class="form-row">
                <div class="inter p-12 font-weight-bold font-size-16 w-120">
                  Fecha de inicio
                </div>
                <p-calendar
                  formControlName="startDate"
                  [iconDisplay]="'input'"
                  [showIcon]="true"
                  placeholder="Fecha inicio"
                  inputId="icondisplay"
                  [style]="{ width: '100%' }"
                  class="form-column"
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex mt-15">
        <div class="inter w-120 p-12 font-weight-bold font-size-16">
          Nota general
        </div>

        <div>
          <textarea
            rows="4"
            cols="87"
            pInputTextarea
            formControlName="generalNote"
          >
          </textarea>
        </div>
      </div>
    </div>

    <div *ngIf="showInputForeign">
      <div class="form-column mt-15">
        <div class="form-row">
          <div class="form-column">
            <div class="form-container2">
              <div class="form-row">
                <div class="inter p-12 font-weight-bold font-size-16 w-120">
                  Territorio
                </div>
                <p-dropdown
                  formControlName="territory"
                  [options]="territories()"
                  optionLabel="descripcion"
                  placeholder="Territorio"
                  optionValue="id"
                  (onChange)="onChange($event)"
                  [style]="{ width: '100%' }"
                  class="form-column"
                  emptyMessage=" "
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-column mt-15">
        <div class="form-row">
          <div class="form-column">
            <div class="form-container2">
              <div class="form-row">
                <div class="inter p-12 font-weight-bold font-size-16 w-120">
                  Clase de suceso
                </div>
                <p-dropdown
                  formControlName="event"
                  [options]="events()"
                  optionLabel="descripcion"
                  placeholder="Clase suceso"
                  [style]="{ width: '100%' }"
                  class="form-column"
                  emptyMessage=" "
                />
              </div>
            </div>
          </div>

          <div class="form-column">
            <div class="form-container2">
              <div class="form-row">
                <div class="inter p-12 font-weight-bold font-size-16 w-120">
                  Fecha de inicio
                </div>
                <p-calendar
                  formControlName="startDate"
                  [iconDisplay]="'input'"
                  [showIcon]="true"
                  placeholder="Fecha inicio"
                  inputId="icondisplay"
                  [style]="{ width: '100%' }"
                  class="form-column"
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-column mt-15">
        <div class="form-row">
          <div class="form-column">
            <div class="form-container2">
              <div class="form-row">
                <div class="inter p-12 font-weight-bold font-size-16 w-120">
                  País
                </div>
                <p-dropdown
                  formControlName="province"
                  [options]="countries()"
                  optionLabel="descripcion"
                  placeholder="Paises"
                  optionValue="id"
                  [style]="{ width: '100%' }"
                  class="form-column"
                  emptyMessage=" "
                />
              </div>
            </div>
          </div>

          <div class="form-column">
            <div class="form-container2">
              <div class="form-row">
                <div class="inter p-12 font-weight-bold font-size-16 w-120">
                  Ubicación
                </div>

                <input
                  type="text"
                  pInputText
                  formControlName="ubication"
                  placeholder="Ubicación"
                  [style]="{ width: '100%' }"
                  class="form-column"
                />

                <img
                  (click)="openModalMapCreate()"
                  style="cursor: pointer; margin-left: 10px"
                  src="/assets/img/location-btn.svg"
                  alt="location-btn"
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-column mt-15">
        <div class="form-row">
          <div class="form-column">
            <div class="form-container2">
              <div class="form-row">
                <div class="inter p-12 font-weight-bold font-size-16 w-120">
                  Limítrofe con España
                </div>
                <p-checkbox
                  formControlName="limitSpain"
                  value="true"
                  inputId="ny"
                  [style]="{ width: '100%' }"
                  class="form-column"
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-column mt-15 border-rounded p-12">
        <div class="form-row">
          <div class="form-column">
            <div class="form-container2">
              <div class="form-row">
                <div class="inter p-12 font-weight-bold font-size-16 w-120">
                  Provincia
                </div>
                <p-dropdown
                  formControlName="province"
                  [options]="provinces()"
                  optionLabel="descripcion"
                  placeholder="Provincia"
                  optionValue="id"
                  (onChange)="loadMunicipalities($event)"
                  [style]="{ width: '100%' }"
                  class="form-column"
                  emptyMessage=" "
                />
              </div>
            </div>
          </div>

          <div class="form-column">
            <div class="form-container2">
              <div class="form-row">
                <div class="inter p-12 font-weight-bold font-size-16 w-120">
                  Municipio
                </div>
                <p-dropdown
                  formControlName="municipality"
                  [options]="municipalities()"
                  optionLabel="descripcion"
                  placeholder="Municipio"
                  optionValue="id"
                  (onChange)="setMunicipalityId($event)"
                  [style]="{ width: '100%' }"
                  class="form-column"
                  emptyMessage=" "
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-column mt-15">
        <div class="form-row">
          <div class="form-column">
            <div class="form-container2">
              <div class="form-row">
                <div class="inter p-12 font-weight-bold font-size-16 w-120">
                  Denominación
                </div>
                <input
                  type="text"
                  pInputText
                  formControlName="denomination"
                  placeholder="Santa María de Guía de Gran Canaria"
                  [style]="{ width: '100%' }"
                  class="form-column"
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-column mt-15">
        <div class="form-row">
          <div class="form-column">
            <div class="form-container2">
              <div class="form-row">
                <div class="inter p-12 font-weight-bold font-size-16 w-120">
                  Nota general
                </div>
                <textarea
                  rows="4"
                  cols="87"
                  pInputTextarea
                  formControlName="generalNote"
                  [style]="{ width: '100%' }"
                  class="form-column"
                ></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex-end">
      <div class="mt-30 mb-30 text-right">
        <button type="submit" class="btn-blue">
          <img src="/assets/img/check.svg" alt="check" />
        </button>

        <button type="button" (click)="closeModal()" class="btn-white">
          <img src="/assets/img/close.svg" alt="close" />
        </button>
      </div>
    </div>
  </form>
</div>
