<div style="padding: 20px 60px 60px">
  <div class="mt-20 inter title-modal">Crear incendio</div>

  <div *ngIf="error" class="text-center alert-danger">
    Ha ocurrido un error intentelo nuevamente
  </div>

  <form (ngSubmit)="onSubmit()" [formGroup]="formData">
    <div *ngIf="!showInputForeign">
      <div class="mt-40">
        <div class="form-row">
          <div class="form-column">
            <div class="form-container2">
              <div class="form-row">
                <div class="inter p-12 font-weight-bold font-size-16 w-120">
                  Territorio
                </div>
                <p-dropdown
                  formControlName="territory"
                  [options]="territories()"
                  optionLabel="descripcion"
                  placeholder="Territorio"
                  optionValue="id"
                  (onChange)="onChange($event)"
                  [style]="{ width: '100%' }"
                  class="form-column"
                  emptyMessage=" "
                  [showClear]="true"
                />
              </div>
              <div
                [style]="{
                  visibility:
                    formData.get('territory')?.invalid &&
                    formData.get('territory')?.touched
                      ? 'visible'
                      : 'hidden'
                }"
              >
                <small class="error-message"> Este campo es requerido. </small>
              </div>
            </div>
          </div>

          <div class="form-column">
            <div class="form-container2">
              <div class="form-row">
                <div class="inter p-12 font-weight-bold font-size-16 w-120">
                  Clase de suceso
                </div>
                <p-dropdown
                  formControlName="event"
                  [options]="events()"
                  optionLabel="descripcion"
                  optionValue="id"
                  placeholder="Clase suceso"
                  [style]="{ width: '100%', }"
                  class="form-column"
                  [panelStyle]="{ maxWidth: '200px' }"
                  emptyMessage=" "
                  [showClear]="true"
                />
              </div>
            </div>
            <div
              [style]="{
                visibility:
                  formData.get('event')?.invalid &&
                  formData.get('event')?.touched
                    ? 'visible'
                    : 'hidden'
              }"
            >
              <small class="error-message"> Este campo es requerido. </small>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-8">
        <div class="form-row">
          <div class="form-column">
            <div class="form-container2">
              <div class="form-row">
                <div class="inter p-12 font-weight-bold font-size-16 w-120">
                  Provincia
                </div>
                <p-dropdown
                  formControlName="province"
                  [options]="provinces()"
                  optionLabel="descripcion"
                  placeholder="Provincia"
                  optionValue="id"
                  (onChange)="loadMunicipalities($event)"
                  [style]="{ width: '100%' }"
                  class="form-column"
                  emptyMessage=" "
                  [showClear]="true"
                />
              </div>
              <div
                [style]="{
                  visibility:
                    formData.get('province')?.invalid &&
                    formData.get('province')?.touched
                      ? 'visible'
                      : 'hidden'
                }"
              >
                <small class="error-message"> Este campo es requerido. </small>
              </div>
            </div>
          </div>

          <div class="form-column">
            <div class="form-container2">
              <div class="form-row">
                <div class="inter p-12 font-weight-bold font-size-16 w-120">
                  Municipio
                </div>
                <p-dropdown
                  formControlName="municipality"
                  [options]="municipalities()"
                  optionLabel="descripcion"
                  placeholder="Municipio"
                  optionValue="id"
                  (onChange)="setMunicipalityId($event)"
                  [style]="{ width: '100%' }"
                  class="form-column"
                  emptyMessage=" "
                  [showClear]="true"
                />
              </div>
              <div
                [style]="{
                  visibility:
                    formData.get('municipality')?.invalid &&
                    formData.get('municipality')?.touched
                      ? 'visible'
                      : 'hidden'
                }"
              >
                <small class="error-message"> Este campo es requerido. </small>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-8">
        <div class="form-row">
          <div class="form-column">
            <div class="form-container2">
              <div class="form-row">
                <div class="inter p-12 font-weight-bold font-size-16 w-120">
                  Denominación
                </div>
                <input
                  type="text"
                  pInputText
                  formControlName="denomination"
                  placeholder=""
                  [style]="{ width: '100%' }"
                  class="form-column"
                />
              </div>
              <div
                [style]="{
                  visibility:
                    formData.get('denomination')?.invalid &&
                    formData.get('denomination')?.touched
                      ? 'visible'
                      : 'hidden'
                }"
              >
                <small class="error-message"> Este campo es requerido. </small>
              </div>
            </div>
          </div>

          <div class="form-column">
            <div class="form-container2">
              <div class="form-row">
                <div class="inter p-12 font-weight-bold font-size-16 w-120">
                  Fecha de inicio
                </div>
                <p-calendar
                  dateFormat="d/mm/yy"
                  formControlName="startDate"
                  [iconDisplay]="'input'"
                  [showIcon]="true"
                  placeholder="Fecha inicio"
                  inputId="icondisplay"
                  [style]="{ width: '100%' }"
                  class="form-column"
                  [minDate]="today"
                />
              </div>
              <div
                [style]="{
                  visibility:
                    formData.get('startDate')?.invalid &&
                    formData.get('startDate')?.touched
                      ? 'visible'
                      : 'hidden'
                }"
              >
                <small class="error-message"> Este campo es requerido. </small>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex mt-8">
        <div class="inter w-120 p-12 font-weight-bold font-size-16">
          Nota general
        </div>

        <div>
          <textarea
            rows="4"
            cols="87"
            pInputTextarea
            formControlName="generalNote"
          >
          </textarea>
        </div>
      </div>
      <div
        [style]="{
          visibility:
            formData.get('generalNote')?.invalid &&
            formData.get('generalNote')?.touched
              ? 'visible'
              : 'hidden'
        }"
      >
        <small class="error-message"> Este campo es requerido. </small>
      </div>
    </div>

    <div *ngIf="showInputForeign">
      <div class="form-column mt-40">
        <div class="form-row">
          <div class="form-column">
            <div class="form-container2">
              <div class="form-row">
                <div class="inter p-12 font-weight-bold font-size-16 w-120">
                  Territorio
                </div>
                <p-dropdown
                  formControlName="territory"
                  [options]="territories()"
                  optionLabel="descripcion"
                  placeholder="Territorio"
                  optionValue="id"
                  (onChange)="onChange($event)"
                  [style]="{ width: '100%' }"
                  class="form-column"
                  emptyMessage=" "
                  [showClear]="true"
                />
              </div>
              <div
                [style]="{
                  visibility:
                    formData.get('territory')?.invalid &&
                    formData.get('territory')?.touched
                      ? 'visible'
                      : 'hidden'
                }"
              >
                <small class="error-message"> Este campo es requerido. </small>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-8">
        <div class="form-row">
          <div class="form-column">
            <div class="form-container2">
              <div class="form-row">
                <div class="inter p-12 font-weight-bold font-size-16 w-120">
                  Clase de suceso
                </div>
                <p-dropdown
                  formControlName="event"
                  [options]="events()"
                  optionLabel="descripcion"
                  optionValue="id"
                  placeholder="Clase suceso"
                  [style]="{ width: '100%' }"
                  class="form-column"
                  emptyMessage=" "
                  [showClear]="true"
                />
              </div>
              <div
                [style]="{
                  visibility:
                    formData.get('event')?.invalid &&
                    formData.get('event')?.touched
                      ? 'visible'
                      : 'hidden'
                }"
              >
                <small class="error-message"> Este campo es requerido. </small>
              </div>
            </div>
          </div>

          <div class="form-column">
            <div class="form-container2">
              <div class="form-row">
                <div class="inter p-12 font-weight-bold font-size-16 w-120">
                  Fecha de inicio
                </div>
                <p-calendar
                  dateFormat="d/mm/yy"
                  formControlName="startDate"
                  [iconDisplay]="'input'"
                  [showIcon]="true"
                  placeholder="Fecha inicio"
                  inputId="icondisplay"
                  [style]="{ width: '100%' }"
                  class="form-column"
                />
              </div>
              <div
                [style]="{
                  visibility:
                    formData.get('startDate')?.invalid &&
                    formData.get('startDate')?.touched
                      ? 'visible'
                      : 'hidden'
                }"
              >
                <small class="error-message"> Este campo es requerido. </small>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-8">
        <div class="form-row">
          <div class="form-column">
            <div class="form-container2">
              <div class="form-row">
                <div class="inter p-12 font-weight-bold font-size-16 w-120">
                  País
                </div>
                <p-dropdown
                  formControlName="country"
                  [options]="countries()"
                  optionLabel="descripcion"
                  placeholder="Paises"
                  optionValue="id"
                  [style]="{ width: '100%' }"
                  class="form-column"
                  emptyMessage=" "
                  [showClear]="true"
                />
              </div>
              <div
                [style]="{
                  visibility:
                    formData.get('country')?.invalid &&
                    formData.get('country')?.touched
                      ? 'visible'
                      : 'hidden'
                }"
              >
                <small class="error-message"> Este campo es requerido. </small>
              </div>
            </div>
          </div>

          <div class="form-column">
            <div class="form-container2">
              <div class="form-row">
                <div class="inter p-12 font-weight-bold font-size-16 w-120">
                  Ubicación
                </div>

                <input
                  type="text"
                  pInputText
                  formControlName="ubication"
                  placeholder="Ubicación"
                  [style]="{ width: '100%' }"
                  class="form-column"
                />

                <img
                  (click)="openModalMapCreate()"
                  style="cursor: pointer; margin-left: 10px"
                  src="/assets/img/location-btn.svg"
                  alt="location-btn"
                />
              </div>
              <div
                [style]="{
                  visibility:
                    formData.get('ubication')?.invalid &&
                    formData.get('ubication')?.touched
                      ? 'visible'
                      : 'hidden'
                }"
              >
                <small class="error-message"> Este campo es requerido. </small>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-8">
        <div class="form-row">
          <div class="form-column">
            <div class="form-container2">
              <div class="form-row">
                <div class="inter p-12 font-weight-bold font-size-16 w-120">
                  Limítrofe con España
                </div>
                <p-checkbox
                  [binary]="true"
                  formControlName="limitSpain"
                  value="true"
                  inputId="limitSpain"
                  [style]="{ width: '100%' }"
                  class="form-column"
                />
              </div>
              <div
                [style]="{
                  visibility:
                    formData.get('limitSpain')?.invalid &&
                    formData.get('limitSpain')?.touched
                      ? 'visible'
                      : 'hidden'
                }"
              >
                <small class="error-message"> Este campo es requerido. </small>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-8 border-rounded p-12">
        <div class="form-row">
          <div class="form-column">
            <div class="form-container2">
              <div class="form-row">
                <div class="inter p-12 font-weight-bold font-size-16 w-120">
                  Provincia
                </div>
                <p-dropdown
                  formControlName="province"
                  [options]="provinces()"
                  optionLabel="descripcion"
                  placeholder="Provincia"
                  optionValue="id"
                  (onChange)="loadMunicipalities($event)"
                  [style]="{ width: '100%' }"
                  class="form-column"
                  emptyMessage=" "
                  [showClear]="true"
                />
              </div>
              <div
                [style]="{
                  visibility:
                    formData.get('province')?.invalid &&
                    formData.get('province')?.touched
                      ? 'visible'
                      : 'hidden'
                }"
              >
                <small class="error-message"> Este campo es requerido. </small>
              </div>
            </div>
          </div>

          <div class="form-column">
            <div class="form-container2">
              <div class="form-row">
                <div class="inter p-12 font-weight-bold font-size-16 w-120">
                  Municipio
                </div>
                <p-dropdown
                  formControlName="municipality"
                  [options]="municipalities()"
                  optionLabel="descripcion"
                  placeholder="Municipio"
                  optionValue="id"
                  (onChange)="setMunicipalityId($event)"
                  [style]="{ width: '100%' }"
                  class="form-column"
                  emptyMessage=" "
                  [showClear]="true"
                />
              </div>
              <div
                [style]="{
                  visibility:
                    formData.get('municipality')?.invalid &&
                    formData.get('municipality')?.touched
                      ? 'visible'
                      : 'hidden'
                }"
              >
                <small class="error-message"> Este campo es requerido. </small>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-8">
        <div class="form-row">
          <div class="form-column">
            <div class="form-container2">
              <div class="form-row">
                <div class="inter p-12 font-weight-bold font-size-16 w-120">
                  Denominación
                </div>
                <input
                  type="text"
                  pInputText
                  formControlName="denomination"
                  placeholder=""
                  [style]="{ width: '100%' }"
                  class="form-column"
                />
              </div>
              <div
                [style]="{
                  visibility:
                    formData.get('denomination')?.invalid &&
                    formData.get('denomination')?.touched
                      ? 'visible'
                      : 'hidden'
                }"
              >
                <small class="error-message"> Este campo es requerido. </small>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-8">
        <div class="form-row">
          <div class="form-column">
            <div class="form-container2">
              <div class="form-row">
                <div class="inter p-12 font-weight-bold font-size-16 w-120">
                  Nota general
                </div>
                <textarea
                  rows="4"
                  cols="87"
                  pInputTextarea
                  formControlName="generalNote"
                  [style]="{ width: '100%' }"
                  class="form-column"
                ></textarea>
              </div>
              <div
                [style]="{
                  visibility:
                    formData.get('generalNote')?.invalid &&
                    formData.get('generalNote')?.touched
                      ? 'visible'
                      : 'hidden'
                }"
              >
                <small class="error-message"> Este campo es requerido. </small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex-end">
      <div class="mt-40 mb-30 text-right">
        <button type="submit" class="btn-blue">
          <img src="/assets/img/check.svg" alt="check" />
        </button>

        <button type="button" (click)="closeModal()" class="btn-white">
          <img src="/assets/img/close.svg" alt="close" />
        </button>
      </div>
    </div>
  </form>
</div>
