<div class="row">
    <div class="col-3"> 
        <span>Descripcion:  </span>
    </div>
    <div class="col-9">    
        <p>{{ alerta.descripcion}}</p>
    </div>        
</div>
<div class="row">
    <div class="col-3">
        <span>Fecha Alerta:  </span>
    </div>
    <div class="col-9">
        <span>{{ alerta.fechaAlerta}}</span>
    </div>        
</div>
<div class="row">
    <div class="col-3">
        <span>Estado Alerta:  </span>
    </div>
    <div class="col-9">
        <span>{{ alerta.estadoAlerta?.descripcion}}</span>
    </div>
</div>
