<app-fire-filter-form [filtros]="filtros" [(fires)]="fires"></app-fire-filter-form>
<app-fire-table [fires]="fires.data" *ngIf="this.fires?.data"></app-fire-table>

<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px" style="width: 100%;" class="button-container">
    <!-- TEST Botón Añadir -->
    <button mat-flat-button color="primary" aria-label="Buscar" class="custom-button" (click)="openModalCrete(0)">
      Añadir
    </button>
    <!-- TEST Botón Modificar -->
    <button mat-flat-button color="primary" aria-label="Buscar" class="custom-button" (click)="openModalCrete(1)">
      Modificar
    </button>
  </div>
