<div>
  <div class="header font-size-24 p-20">
    <div class="text-red ml-20">Nuevo / Edición</div>

    <div class="text-center text-green">Datos evolución</div>
  </div>

  <div class="container">
    <div class="sidebar">
      <div
        class="cursor-pointer font-size-16 border-silver border-radius-8 p-10"
        (click)="scrollToSection('sectionRegistro')"
      >
        Registro
      </div>
      <div
        class="cursor-pointer font-size-16 border-silver border-radius-8 p-10"
        (click)="scrollToSection('sectionDatosPersonales')"
      >
        Datos personales
      </div>
      <div
        class="cursor-pointer font-size-16 border-silver border-radius-8 p-10"
        (click)="scrollToSection('sectionParametros')"
      >
        Parámetros
      </div>
      <div
        class="cursor-pointer font-size-16 border-silver border-radius-8 p-10"
        (click)="scrollToSection('sectionAreaAfectada')"
      >
        Área afectada
      </div>
      <div
        class="cursor-pointer font-size-16 border-silver border-radius-8 p-10"
        (click)="scrollToSection('sectionConsecuenciasActuaciones')"
      >
        Consecuencias/Actuac.
      </div>
      <div
        class="cursor-pointer font-size-16 border-silver border-radius-8 p-10"
        (click)="scrollToSection('sectionIntervencionMedios')"
      >
        Intervención de medios
      </div>
    </div>

    <div class="form-container">
      <form (submit)="submit()" [formGroup]="formGroup">
        <div
          class="content border-silver border-radius-8 p-20"
          style="width: 920px; height: 520px; overflow-y: scroll"
        >
          <div>
            <div id="validation-evolution-error"></div>

            <div *ngIf="errors" class="bg-red">
              Los campos con * son obligatorios
            </div>

            <div *ngIf="errorAreaAfectada" class="bg-red">
              Debe seleccionar datos en el mapa de área afectada
            </div>

            <div class="d-flex justify-content-between">
              <div class="font-size-16">
                <b>Alta:</b> sguijarro (SACOP) - 24/08/2024 17:24
              </div>

              <div class="font-size-16">
                <b>Ult. modificación:</b> sguijarro (SACOP) - 24/08/2024 17:24
              </div>
            </div>

            <div class="mt-14">
              <div
                id="sectionRegistro"
                class="font-size-20 font-weight-bold text-orange"
              >
                REGISTRO
              </div>
            </div>

            <div class="form-row">
              <div class="font-size-16 form-column">
                <div class="form-container2">
                  <div class="form-row">
                    <b>Fecha y hora</b>

                    <p-calendar
                      dateFormat="d/mm/yy HH:mm"
                      [showTime]="true"
                      [hourFormat]="'12'"
                      formControlName="startDate"
                      [iconDisplay]="'input'"
                      [showIcon]="true"
                      placeholder=""
                      inputId="icondisplay"
                      [style]="{ width: '100%' }"
                      class="form-column"
                    />
                  </div>
                  <span *ngIf="errors?.fechaHoraEvolucion" class="text-red">
                    *
                  </span>
                </div>
              </div>

              <div class="font-size-16 form-column">
                <div class="form-container2">
                  <div class="form-row">
                    <b>Entrada / Salida</b>
                    <p-dropdown
                      emptyMessage=" "
                      formControlName="type"
                      [options]="inputOutputs()"
                      optionLabel="descripcion"
                      placeholder=""
                      optionValue="id"
                      class="font-size-16"
                      autoWidth="false"
                      [style]="{ width: '100%' }"
                      class="form-column"
                    />
                  </div>
                </div>
                <span *ngIf="errors?.idEntradaSalida" class="text-red">
                  *
                </span>
              </div>

              <div class="font-size-16 form-column">
                <div class="form-container2">
                  <div class="form-row">
                    <b>Medio</b>
                    <p-dropdown
                      emptyMessage=" "
                      formControlName="media"
                      [options]="medias()"
                      optionLabel="descripcion"
                      placeholder=""
                      optionValue="id"
                      autoWidth="false"
                      [style]="{ width: '100%' }"
                      class="form-column"
                    />
                  </div>
                </div>
                <span *ngIf="errors?.idMedio" class="text-red"> * </span>
              </div>
            </div>

            <div class="font-size-16 form-column mt-10">
              <div class="form-container2">
                <div class="form-row">
                  <b>Procedencia / Destino</b>
                  <p-multiSelect
                    formControlName="originDestination"
                    [options]="originDestinations()"
                    optionLabel="descripcion"
                    placeholder=""
                    optionValue="id"
                    [style]="{
                      width: '100%',
                      height: '48px'
                    }"
                    class="form-column"
                  />
                </div>
              </div>
            </div>

            <div class="mt-30">
              <div
                id="sectionDatosPersonales"
                class="font-size-20 font-weight-bold text-orange"
              >
                DATOS PERSONALES
              </div>
            </div>

            <div class="mt-10 font-size-16 form-row">
              <div class="font-size-16 form-column">
                <div class="form-container2">
                  <div class="form-row">
                    <b>Fecha y hora de actualización</b>
                    <p-calendar
                      dateFormat="d/mm/yy HH:mm"
                      [showTime]="true"
                      [hourFormat]="'12'"
                      formControlName="datetimeUpdate"
                      [iconDisplay]="'input'"
                      [showIcon]="true"
                      placeholder=""
                      inputId="icondisplay"
                      [style]="{ width: '100%' }"
                      class="form-column"
                    />
                  </div>
                </div>
              </div>

              <div class="font-size-16 form-column">
                <div class="form-container2">
                  <div class="form-row">
                    <b>Tipo de registro</b>
                    <p-dropdown
                      emptyMessage=" "
                      formControlName="recordType"
                      [options]="recordTypes()"
                      optionLabel="descripcion"
                      placeholder=""
                      optionValue="id"
                      autoWidth="false"
                      [style]="{ width: '100%' }"
                      class="form-column"
                    />
                  </div>
                </div>
              </div>
            </div>

            <div class="mt-10 form-row">
              <div class="form-container2">
                <div class="form-row">
                  <b>Observaciones</b>
                  <input
                    type="text"
                    pInputText
                    formControlName="observations_1"
                    [style]="{ width: '100%' }"
                    class="form-column"
                  />
                </div>
              </div>
            </div>

            <div class="mt-10 form-row">
              <div class="form-container2">
                <div class="form-row">
                  <b>Previsión</b>
                  <input
                    type="text"
                    pInputText
                    formControlName="forecast"
                    [style]="{ width: '100%' }"
                    class="form-column"
                  />
                </div>
              </div>
            </div>

            <div class="mt-30">
              <div
                id="sectionParametros"
                class="font-size-20 font-weight-bold text-orange"
              >
                PARAMETROS
              </div>
            </div>

            <div class="mt-10 form-column">
              <div class="form-row">
                <div class="mt-10 form-column">
                  <div class="form-container2">
                    <div class="form-row">
                      <b>Estado</b>
                      <p-dropdown
                        emptyMessage=" "
                        formControlName="status"
                        [options]="status()"
                        optionLabel="descripcion"
                        placeholder=""
                        optionValue="id"
                        [style]="{ width: '100%' }"
                        class="form-column"
                      />
                    </div>
                    <span *ngIf="errors?.idEstadoIncendio" class="text-red">
                      *
                    </span>
                  </div>
                </div>

                <div class="mt-10 form-column">
                  <div class="form-container2">
                    <div class="form-row">
                      <b>Plan de emergencia activado</b>
                      <input
                        type="text"
                        pInputText
                        formControlName="emergencyPlanActivated"
                        class="font-size-16"
                        [style]="{ width: '100%' }"
                        class="form-column"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="mt-10 form-column">
              <div class="form-row">
                <div class="form-column">
                  <div class="form-container2">
                    <div class="form-row">
                      <b>Situación operativa</b>
                      <p-dropdown
                        emptyMessage=" "
                        formControlName="operativeStatus"
                        [options]="[]"
                        optionLabel="descripcion"
                        placeholder=""
                        optionValue="id"
                        [style]="{ width: '100%' }"
                        class="form-column"
                      />
                    </div>
                  </div>
                </div>

                <div class="form-column">
                  <div class="form-container2">
                    <div class="form-row">
                      <b>Fecha final</b>
                      <p-calendar
                        dateFormat="d/mm/yy"
                        formControlName="end_date"
                        [iconDisplay]="'input'"
                        [showIcon]="true"
                        placeholder=""
                        inputId="icondisplay"
                        [style]="{ width: '100%' }"
                        class="form-column"
                      />
                    </div>
                  </div>
                </div>

                <div class="form-column">
                  <div class="form-container2">
                    <div class="form-row">
                      <b>Superficie afec. (Ha)</b>
                      <input
                        type="number"
                        pInputText
                        formControlName="affectedSurface"
                        [style]="{ width: '100%' }"
                        class="form-column"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="mt-30">
              <div
                id="sectionAreaAfectada"
                class="font-size-20 font-weight-bold text-orange"
              >
                AREA AFECTADA
              </div>
            </div>

            <div *ngIf="areaAffectedActionError" class="bg-red">
              Todos los campos son obligatorios
            </div>

            <div class="mt-10 form-column">
              <div class="form-row">
                <div class="form-column">
                  <div class="form-container2">
                    <div class="form-row">
                      <b>Fecha y hora</b>
                      <p-calendar
                        dateFormat="d/mm/yy HH:mm"
                        [showTime]="true"
                        [hourFormat]="'12'"
                        formControlName="startAreaAffected"
                        [iconDisplay]="'input'"
                        [showIcon]="true"
                        placeholder=""
                        inputId="icondisplay"
                        [style]="{ width: '100%' }"
                        class="form-column"
                      />
                    </div>
                  </div>
                  <span *ngIf="errors?.idProvinciaAfectada" class="text-red">
                    *
                  </span>
                </div>

                <div class="form-column">
                  <div class="form-container2">
                    <div class="form-row">
                      <b>Provincia</b>
                      <p-dropdown
                        emptyMessage=" "
                        formControlName="province_1"
                        [options]="provinces()"
                        optionLabel="descripcion"
                        placeholder=""
                        optionValue="id"
                        class="font-size-16"
                        (onChange)="loadMunicipalities($event, '1')"
                        [style]="{ width: '100%' }"
                        class="form-column"
                      />
                    </div>
                  </div>
                  <span *ngIf="errors?.idProvinciaAfectada" class="text-red">
                    *
                  </span>
                </div>
              </div>
            </div>

            <div class="mt-10 form-column">
              <div class="form-row">
                <div class="form-column">
                  <div class="form-container2">
                    <div class="form-row">
                      <b>Municipio</b>
                      <p-dropdown
                        emptyMessage=" "
                        formControlName="municipality_1"
                        [options]="municipalities()"
                        optionLabel="descripcion"
                        placeholder=""
                        optionValue="id"
                        [style]="{ width: '100%' }"
                        class="form-column"
                      />
                    </div>
                  </div>
                  <span *ngIf="errors?.idProvinciaAfectada" class="text-red">
                    *
                  </span>
                </div>

                <div class="form-column">
                  <div class="form-container2">
                    <div class="form-row">
                      <b>Entidad menor</b>

                      <p-dropdown
                        emptyMessage=" "
                        formControlName="minorEntity"
                        [options]="minorEntities()"
                        optionLabel="descripcion"
                        placeholder=""
                        optionValue="id"
                        [style]="{ width: '100%' }"
                        class="form-column"
                      />
                    </div>
                  </div>
                  <span *ngIf="errors?.idProvinciaAfectada" class="text-red">
                    *
                  </span>
                </div>
              </div>
            </div>

            <div class="mt-10 form-column">
              <div class="form-row">
                <div class="form-column">
                  <div class="form-container2">
                    <div class="form-row">
                      <b>Observaciones</b>
                      <input
                        type="text"
                        pInputText
                        formControlName="observationsAreaAffected"
                        [style]="{ width: '100%' }"
                        class="form-column"
                      />
                    </div>
                  </div>
                  <span *ngIf="errors?.idProvinciaAfectada" class="text-red">
                    *
                  </span>
                </div>

                <div class="form-column">
                  <div class="form-container2">
                    <div class="form-row">
                      <b>Localización</b>
                      <img
                        src="/assets/img/location-btn.svg"
                        height="20px"
                        alt="location"
                        class="cursor-pointer"
                        (click)="openModalMapCreate('AreaAfectada')"
                      />
                    </div>
                  </div>
                </div>

                <div class="form-column">
                  <div class="form-container2">
                    <div class="form-row">
                      <button
                        type="button"
                        class="btn-blue"
                        (click)="saveAreaAffected()"
                      >
                        <img
                          class="w-30 h-30"
                          src="/assets/img/plus.svg"
                          alt="check"
                        />
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="mt-10">
              <table class="border-radius-8 border-silver w-100">
                <thead>
                  <tr>
                    <th>Fecha y hora</th>
                    <th>Provincia</th>
                    <th>Municipio</th>
                    <th>Entidad menor</th>
                    <th></th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let area of areasAffected; let i = index">
                    <td>{{ area.startAreaAffected }}</td>
                    <td>{{ area.province_1 }}</td>
                    <td>
                      {{ area.municipality_1 }}
                    </td>
                    <td>{{ area.minorEntity }}</td>

                    <td>
                      <button
                        type="button"
                        (click)="showAreaAffectedDataInForm(i)"
                        class="btn-white"
                      >
                        <img
                          class="w-20 h-20"
                          src="/assets/img/edit-btn.svg"
                          alt="edit-btn"
                        />
                      </button>

                      <button
                        type="button"
                        (click)="deleteAreaAffected(i)"
                        class="btn-white"
                      >
                        <img
                          class="w-20 h-20"
                          src="/assets/img/close.svg"
                          alt="close"
                        />
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <!------------------------------------------------------------>
            <div class="mt-14">
              <div
                id="sectionConsecuenciasActuaciones"
                class="font-size-20 font-weight-bold text-orange"
              >
                CONSECUENCIAS / ACTUACIONES
              </div>
            </div>

            <div *ngIf="consequenceActionError" class="bg-red">
              Todos los campos son obligatorios
            </div>

            <input type="hidden" formControlName="consequenceActionIndex" />
            <input type="hidden" formControlName="consequenceActionUpdate" />

            <div class="mt-10 form-column">
              <div class="form-row">
                <div class="form-column">
                  <div class="form-container2">
                    <div class="form-row">
                      <b>Tipo</b>
                      <p-dropdown
                        emptyMessage=" "
                        formControlName="impactType"
                        [options]="impactTypes"
                        placeholder=""
                        class="font-size-16"
                        (onChange)="setType($event)"
                        [style]="{ width: '100%' }"
                        class="form-column"
                      />
                    </div>
                  </div>
                  <span *ngIf="errors?.impactType" class="text-red"> * </span>
                </div>

                <div class="form-column">
                  <div class="form-container2">
                    <div class="form-row">
                      <b>Grupo</b>

                      <p-dropdown
                        emptyMessage=" "
                        formControlName="impactGroup"
                        [options]="impactGroups"
                        placeholder=""
                        [style]="{ width: '100%' }"
                        class="form-column"
                        (onChange)="setGroup($event)"
                      />
                    </div>
                  </div>
                  <span *ngIf="errors?.idProvinciaAfectada" class="text-red">
                    *
                  </span>
                </div>
              </div>
            </div>

            <div class="mt-10 form-column">
              <div class="form-row">
                <div class="form-column">
                  <div class="form-container2">
                    <div class="form-row">
                      <b>Denominación</b>
                      <p-dropdown
                        emptyMessage=" "
                        formControlName="name"
                        [options]="denominations"
                        optionLabel="descripcion"
                        placeholder=""
                        optionValue="id"
                        [style]="{ width: '100%' }"
                        class="form-column"
                      />
                    </div>
                  </div>
                  <span *ngIf="errors?.idProvinciaAfectada" class="text-red">
                    *
                  </span>
                </div>

                <div class="form-column">
                  <div class="form-container2">
                    <div class="form-row">
                      <b>Número</b>

                      <input
                        type="number"
                        pInputText
                        formControlName="number"
                        pInputText
                        class="font-size-16"
                        [style]="{ width: '100%' }"
                        class="form-column"
                      />
                    </div>
                  </div>
                  <span *ngIf="errors?.idProvinciaAfectada" class="text-red">
                    *
                  </span>
                </div>

                <div class="form-column">
                  <div class="form-container2">
                    <div class="form-row">
                      <b>Localización</b>
                      <img
                        src="/assets/img/location-btn.svg"
                        height="20px"
                        alt="location"
                        class="cursor-pointer"
                        (click)="openModalMapCreate('ConsecuenciasActuaciones')"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="mt-10 form-column">
              <div class="form-row">
                <div class="form-column">
                  <div class="form-container2">
                    <div class="form-row">
                      <b>Observaciones</b>

                      <input
                        type="text"
                        pInputText
                        formControlName="observations_2"
                        class="font-size-16"
                        [style]="{ width: '100%' }"
                        class="form-column"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="mt-30">
              <div class="font-size-16 font-weight-bold underline">
                Datos complementarios
              </div>
            </div>

            <app-campo-dinamico
              [campos]="fieldCampos()"
              (formData)="getDataForConsecuenciasActuaciones($event)"
            >
            </app-campo-dinamico>
            <!--
            <div class="mt-10 form-column">
              <div class="form-row">
                <div class="form-column">
                  <div class="form-container2">
                    <div class="form-row">
                      <b>Fecha y hora inicio</b>
                      <p-calendar
                        formControlName="start"
                        [iconDisplay]="'input'"
                        [showIcon]="true"
                        placeholder=""
                        inputId="icondisplay"
                        [style]="{ width: '100%' }"
                        class="form-column"
                      />
                    </div>
                  </div>
                </div>

                <div class="form-column">
                  <div class="form-container2">
                    <div class="form-row">
                      <b>Fecha y hora fin</b>
                      <p-calendar
                        formControlName="end"
                        [iconDisplay]="'input'"
                        [showIcon]="true"
                        placeholder=""
                        inputId="icondisplay"
                        [style]="{ width: '100%' }"
                        class="form-column"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            -->

            <div class="mt-10 form-column">
              <div class="form-row">
                <!--
                <div class="form-column">
                  <div class="form-container2">
                    <div class="form-row">
                      <b>No. graves</b>
                      <input
                        type="number"
                        pInputText
                        formControlName="injureds"
                        class="font-size-16"
                        [style]="{ width: '100%' }"
                        class="form-column"
                      />
                    </div>
                  </div>
                </div>

                <div class="form-column">
                  <div class="form-container2">
                    <div class="form-row">
                      <b>No. intervinientes</b>
                      <input
                        type="number"
                        pInputText
                        formControlName="participants"
                        class="font-size-16"
                        [style]="{ width: '100%' }"
                        class="form-column"
                      />
                    </div>
                  </div>
                </div>
                -->
                <div class="form-column">
                  <div class="form-container2">
                    <div class="form-row">
                      <button
                        type="button"
                        class="btn-blue"
                        (click)="saveConsequenceAction()"
                      >
                        <img
                          class="w-30 h-30"
                          src="/assets/img/plus.svg"
                          alt="check"
                        />
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!------------------------------------------------------------>
            <div class="mt-10">
              <table class="border-radius-8 border-silver w-100">
                <thead>
                  <tr>
                    <th>Tipo</th>
                    <th>Grupo</th>
                    <th>Descripción</th>
                    <th>Número</th>
                    <th></th>
                  </tr>
                </thead>

                <tbody>
                  <tr
                    *ngFor="
                      let consequenceAction of consequencesActions;
                      let i = index
                    "
                  >
                    <td>{{ consequenceAction.impactType }}</td>
                    <td>{{ consequenceAction.impactGroup }}</td>
                    <td>
                      {{
                        getDenominationName(
                          consequenceAction.impactType,
                          consequenceAction.impactGroup,
                          consequenceAction.name
                        )
                      }}
                    </td>
                    <td>{{ consequenceAction.number }}</td>

                    <td>
                      <button
                        type="button"
                        (click)="showConsequenceDataInForm(i)"
                        class="btn-white"
                      >
                        <img
                          class="w-20 h-20"
                          src="/assets/img/edit-btn.svg"
                          alt="edit-btn"
                        />
                      </button>

                      <button
                        type="button"
                        (click)="deleteConsequence(i)"
                        class="btn-white"
                      >
                        <img
                          class="w-20 h-20"
                          src="/assets/img/close.svg"
                          alt="close"
                        />
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="mt-30">
              <div
                id="sectionIntervencionMedios"
                class="font-size-20 font-weight-bold text-orange"
              >
                INTERVENCIÓN DE MEDIOS
              </div>
            </div>

            <div *ngIf="interveningMediaError" class="bg-red">
              Todos los campos son obligatorios
            </div>

            <input type="hidden" formControlName="interveningMediaIndex" />
            <input type="hidden" formControlName="interveningMediaUpdate" />

            <div class="mt-10 form-column">
              <div class="form-row">
                <div class="form-column">
                  <div class="form-container2">
                    <div class="form-row">
                      <b>Tipo de medio</b>

                      <p-dropdown
                        emptyMessage=" "
                        formControlName="mediaType"
                        [options]="mediaTypes()"
                        optionLabel="descripcion"
                        optionValue="id"
                        placeholder=""
                        [style]="{ width: '100%' }"
                        class="form-column"
                        (onChange)="changeMediaTypes($event)"
                      />
                    </div>
                  </div>
                </div>

                <div class="form-column">
                  <div class="form-container2">
                    <div class="form-row">
                      <b>Cantidad</b>
                      <input
                        type="number"
                        pInputText
                        formControlName="quantity"
                        [style]="{ width: '100%' }"
                        class="form-column"
                      />
                    </div>
                  </div>
                </div>

                <div class="form-column">
                  <div class="form-container2">
                    <div class="form-row">
                      <b>Unidad</b>
                      <input
                        type="text"
                        pInputText
                        formControlName="unit"
                        class="font-size-16"
                        [style]="{ width: '100%' }"
                        class="form-column"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="mt-10 form-column">
              <div class="form-row">
                <div class="form-column">
                  <div class="form-container2">
                    <div class="form-row">
                      <b>Clasificación</b>
                      <p-dropdown
                        emptyMessage=" "
                        [disabled]="disabledBenefits()"
                        formControlName="classification"
                        [options]="mediaClassifications()"
                        optionLabel="descripcion"
                        optionValue="id"
                        [style]="{ width: '100%' }"
                        class="form-column"
                      />
                    </div>
                  </div>
                </div>

                <div class="form-column">
                  <div class="form-container2">
                    <div class="form-row">
                      <b>Titularidad</b>
                      <p-dropdown
                        emptyMessage=" "
                        [disabled]="disabledOwner1()"
                        formControlName="ownership_1"
                        [options]="mediaOwnerships()"
                        optionLabel="descripcion"
                        optionValue="id"
                        [style]="{ width: '100%' }"
                        class="form-column"
                      />
                    </div>
                  </div>
                </div>

                <div class="form-column">
                  <div class="form-container2">
                    <div class="form-row">
                      <b>Titularidad</b>
                      <input
                        type="text"
                        pInputText
                        formControlName="ownership_2"
                        [style]="{ width: '100%' }"
                        class="form-column"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="mt-10 form-column">
              <div class="form-row">
                <div class="form-column">
                  <div class="form-container2">
                    <div class="form-row">
                      <b>Provincia</b>

                      <p-dropdown
                        emptyMessage=" "
                        formControlName="province_2"
                        [options]="provinces()"
                        optionLabel="descripcion"
                        optionValue="id"
                        (onChange)="loadMunicipalities($event, '2')"
                        [style]="{ width: '100%' }"
                        class="form-column"
                      />
                    </div>
                  </div>
                </div>

                <div class="form-column">
                  <div class="form-container2">
                    <div class="form-row">
                      <b>Municipio</b>

                      <p-dropdown
                        emptyMessage=" "
                        formControlName="municipality_2"
                        [options]="municipalities2()"
                        optionLabel="descripcion"
                        optionValue="id"
                        [style]="{ width: '100%' }"
                        class="form-column"
                      />
                    </div>
                  </div>
                </div>

                <div class="form-column">
                  <div class="form-container2">
                    <div class="form-row">
                      <b>Localización</b>
                      <img
                        src="/assets/img/location-btn.svg"
                        height="20px"
                        alt="location"
                        class="cursor-pointer"
                        (click)="openModalMapCreate('IntervencionMedios')"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="mt-10 form-column">
              <div class="form-row">
                <div class="form-column">
                  <div class="form-container2">
                    <div class="form-row">
                      <b>Observaciones</b>
                      <input
                        type="text"
                        pInputText
                        formControlName="observations_3"
                        class="font-size-16"
                        [style]="{ width: '100%' }"
                        class="form-column"
                      />
                    </div>
                  </div>
                </div>

                <div class="form-column">
                  <div class="form-container2">
                    <div class="form-row">
                      <button
                        type="button"
                        class="btn-blue"
                        (click)="saveInterveningMedia()"
                      >
                        <img
                          class="w-30 h-30"
                          src="/assets/img/plus.svg"
                          alt="check"
                        />
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="mt-10">
              <table class="border-radius-8 border-silver w-100">
                <thead>
                  <tr>
                    <th>Medio</th>
                    <th>Cantidad</th>
                    <th>Unidad</th>
                    <th>Clasificación</th>
                    <th>Titularidad</th>
                    <th></th>
                  </tr>
                </thead>

                <tbody>
                  <tr
                    *ngFor="
                      let interveningMedia of interveningMedias;
                      let i = index
                    "
                  >
                    <td>
                      {{ getMediaTypeDescription(interveningMedia.mediaType) }}
                    </td>
                    <td>{{ interveningMedia.quantity }}</td>
                    <td>{{ interveningMedia.unit }}</td>
                    <td>
                      {{
                        getClassificationDescription(
                          interveningMedia.classification
                        )
                      }}
                    </td>
                    <td>
                      {{
                        getOwnershipDescription(interveningMedia.ownership_1)
                      }}
                    </td>

                    <td>
                      <button
                        type="button"
                        (click)="showInterveningMediaDataInForm(i)"
                        class="btn-white"
                      >
                        <img
                          class="w-20 h-20"
                          src="/assets/img/edit-btn.svg"
                          alt="edit-btn"
                        />
                      </button>

                      <button
                        type="button"
                        (click)="deleteInterveningMedia(i)"
                        class="btn-white"
                      >
                        <img
                          class="w-20 h-20"
                          src="/assets/img/close.svg"
                          alt="close"
                        />
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-between mt-20">
          <div>
            <button type="button" class="btn-white">
              <img
                class="w-30 h-30"
                src="/assets/img/left-all.svg"
                alt="left-all"
              />
            </button>

            <button type="button" class="btn-white">
              <img class="w-30 h-30" src="/assets/img/left.svg" alt="left" />
            </button>

            <button type="button" class="btn-white">
              <img class="w-30 h-30" src="/assets/img/right.svg" alt="right" />
            </button>

            <button type="button" class="btn-white">
              <img
                class="w-30 h-30"
                src="/assets/img/right-all.svg"
                alt="right-all"
              />
            </button>
          </div>

          <div>
            <button type="submit" class="btn-blue">
              <img class="w-30 h-30" src="/assets/img/check.svg" alt="check" />
            </button>

            <button (click)="closeModal()" type="button" class="btn-white">
              <img class="w-30 h-30" src="/assets/img/close.svg" alt="close" />
            </button>

            <button (click)="closeModal()" type="button" class="btn-white">
              <img class="w-30 h-30" src="/assets/img/back.svg" alt="back" />
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
