<div class="modal-header">
    <h2 mat-dialog-title class="title">{{ data.title }}</h2>
  </div>
  
  <div class="container">
    <div class="side-menu">
      <mat-chip-listbox [value]="selectedOption.value" (change)="onSelectionChange($event)">
        <mat-chip-option *ngFor="let sec of sections; trackBy: trackByFn" [value]="sec.id" class="full-width-chip">
          {{ sec.label }}
        </mat-chip-option>
      </mat-chip-listbox>
    </div>
  
    <app-records (save)="onSaveFromChild()" *ngIf="selectedOption.value === 1" class="component-width" @fadeInOut></app-records>
    
  </div>


  
 