<div class="modal-header">
    <h2 mat-dialog-title class="title">{{ data.title }}</h2>
  </div>
  
  <div class="container">
    <div class="side-menu">
      <mat-chip-listbox>
        <mat-chip-option *ngFor="let sec of sections; trackBy: trackByFn" class="full-width-chip">
          {{ sec }}
        </mat-chip-option>
      </mat-chip-listbox>
    </div>
  
    <div class="form-container">
      <form *ngIf="formData" [formGroup]="formData">
        <!-- DATOS PRINCIPALES -->
        <div>
          <h3 class="title">DATOS PRINCIPALES</h3>
  
          <div class="row" fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="start center">
      
            <mat-form-field appearance="fill" fxFlex="25%" class="mb-3">
              <mat-label>Fecha y hora de actualización</mat-label>
              <input matInput [matDatepicker]="picker2" [formControl]="getForm('datetimeUpdate')" />
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>

            <!-- <mat-form-field class="input spaced-input" fxFlex="75%">
              <mat-label>Observaciones</mat-label>
              <textarea matInput [formControl]="getForm('observations_1')"> </textarea>
            </mat-form-field> -->
          </div>
  
          <!-- <div class="row" fxLayout="row" fxLayoutAlign="start center">

            <mat-form-field class="input full-width-input" fxFlex="99%">
              <mat-label>Previsión</mat-label>
              <textarea matInput [formControl]="getForm('forecast')"> </textarea>
            </mat-form-field>
          </div> -->
        </div>
  
      </form>  
      <div class="modal-footer" fxLayout="row" fxLayoutAlign="space-between center">
        <button mat-flat-button [style.background-color]="'var(--fire-color)'">Eliminar</button>
        
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
            <button mat-flat-button color="accent" style="margin-right: 10px;">Volver</button>
            <button mat-raised-button color="secondary" style="margin-right: 10px;">Foto</button>
            <button mat-flat-button color="primary" style="margin-right: 10px;">Guardar</button>
          </div>
        </div>
    </div>
    
  </div>


  
 