<!-- Acordeón para Filtros -->

<form [formGroup]="formData" (ngSubmit)="onSubmit()">
  <mat-accordion multi>
    <mat-expansion-panel #filterPanel>
      <mat-expansion-panel-header>
        <mat-panel-title>Filtros</mat-panel-title>
      </mat-expansion-panel-header>
      <!-- Fila 1 -->
      <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start stretch" class="filter-container">
        <mat-form-field appearance="fill" fxFlex="20">
          <mat-label>Denominación</mat-label>
          <input matInput [formControl]="getForm('name')" placeholder="Ingresa texto" />
        </mat-form-field>

        <mat-form-field appearance="fill" fxFlex="20">
          <mat-label>Territorio</mat-label>
          <mat-select [formControl]="getForm('territory')" (selectionChange)="changeTerritory($event)">
            <mat-option *ngFor="let option of territories()" [value]="option.id">
              {{ option.descripcion }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formData.get('territory')?.hasError('required')">Este campo es obligatorio.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" fxFlex="20">
          <mat-label>País</mat-label>
          <mat-select [formControl]="getForm('country')" (selectionChange)="loadCommunities()">
            <mat-option *ngFor="let option of filteredCountries()" [value]="option.id">
              {{ option.descripcion }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formData.get('country')?.hasError('required')">Este campo es obligatorio.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" fxFlex="20">
          <mat-label>CCAA</mat-label>
          <mat-select [formControl]="getForm('autonomousCommunity')" (selectionChange)="loadProvinces($event)">
            <mat-option *ngFor="let option of autonomousCommunities()" [value]="option.id">
              {{ option.descripcion }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formData.get('autonomousCommunity')?.hasError('required')">Este campo es obligatorio.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" fxFlex="20">
          <mat-label>Provincia</mat-label>
          <mat-select [formControl]="getForm('provincia')">
            <mat-option *ngFor="let option of provinces()" [value]="option.id">
              {{ option.descripcion }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formData.get('provincia')?.hasError('required')">Este campo es obligatorio.</mat-error>
        </mat-form-field>
      </div>
      <!-- Fila 2 -->
      <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start stretch" class="filter-container">
        <mat-form-field appearance="fill" fxFlex="25">
          <mat-label>Estado del suceso</mat-label>
          <mat-select [formControl]="getForm('eventStatus')">
            <mat-option *ngFor="let option of eventStatus()" [value]="option.id">
              {{ option.descripcion }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formData.get('eventStatus')?.hasError('required')">Este campo es obligatorio.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" fxFlex="25">
          <mat-label>Estado del incendio</mat-label>
          <mat-select [formControl]="getForm('fireStatus')">
            <mat-option *ngFor="let option of fireStatus()" [value]="option.id">
              {{ option.descripcion }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formData.get('fireStatus')?.hasError('required')">Este campo es obligatorio.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" fxFlex="25">
          <mat-label>Nivel/situación</mat-label>
          <mat-select [formControl]="getForm('severityLevel')">
            <mat-option *ngFor="let option of severityLevels()" [value]="option.id">
              {{ option.descripcion }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formData.get('severityLevel')?.hasError('required')">Este campo es obligatorio.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" fxFlex="25">
          <mat-label>Superficies</mat-label>
          <mat-select [formControl]="getForm('affectedArea')">
            <mat-option *ngFor="let option of superficiesFiltro()" [value]="option.id">
              {{ option.descripcion }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formData.get('affectedArea')?.hasError('required')">Este campo es obligatorio.</mat-error>
        </mat-form-field>
      </div>

      <!-- Fila 3 -->
      <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start stretch" class="filter-container">
        <mat-form-field appearance="fill" fxFlex="25">
          <mat-label>Movimiento</mat-label>
          <mat-select [formControl]="getForm('move')">
            <mat-option *ngFor="let option of moves()" [value]="option.id">
              {{ option.descripcion }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formData.get('move')?.hasError('required')">Este campo es obligatorio.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" fxFlex="25">
          <mat-label>Entre</mat-label>
          <mat-select [formControl]="getForm('between')" (selectionChange)="changeBetween($event)">
            <mat-option *ngFor="let option of comparativeDates()" [value]="option.id">
              {{ option.descripcion }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formData.get('between')?.hasError('required')">Este campo es obligatorio.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" fxFlex="25" class="mb-3">
          <mat-label>Fecha de inicio</mat-label>
          <input matInput [matDatepicker]="picker" [formControl]="getForm('fechaInicio')" />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="formData.get('fechaInicio')?.hasError('required')">Este campo es obligatorio.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" fxFlex="25" class="mb-3" [ngStyle]="{ visibility: showDateEnd() ? 'visible' : 'hidden' }">
          <mat-label>Fecha de fin</mat-label>
          <input matInput [matDatepicker]="picker2" [formControl]="getForm('fechaFin')" />
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
          <mat-error *ngIf="formData.get('fechaFin')?.hasError('required')">Este campo es obligatorio.</mat-error>
        </mat-form-field>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="16px" style="width: 100%" class="button-container">
    <!-- Botón Crear (a la izquierda) -->
    <button mat-flat-button color="accent" aria-label="Crear" class="custom-button" type="button" (click)="goModal()">
      <mat-icon>add</mat-icon>
      Añadir
    </button>

    <!-- Botones a la derecha -->
    <div fxLayout="row" fxLayoutGap="16px">
      <!-- Botón Buscar -->
      <button mat-flat-button color="primary" aria-label="Buscar" class="custom-button" type="submit">
        <mat-icon>search</mat-icon>
        Buscar
      </button>

      <!-- Botón Filtrar -->
      <button mat-flat-button color="primary" aria-label="Filtrar" class="custom-button" (click)="toggleAccordion(filterPanel)" type="button">
        <mat-icon>filter_list</mat-icon>
        Filtrar
      </button>

      <!-- Botón Borrar -->
      <button mat-flat-button color="primary" aria-label="Borrar" class="custom-button" type="button" (click)="clearFormFilter()">
        <mat-icon>delete</mat-icon>
        Limpiar
      </button>
    </div>
  </div>
</form>
