<!-- Encabezado -->
<div class="d-flex border-bottom">
  <div class="w-50">
    <h1 class="text-info font-weight-bold font-size-48 calibri">
      Sistema de gestión de emergencia <br />
      y apoyo a la decisión
    </h1>
  </div>

  <div class="w-50 text-right">
    <h1 class="text-blue font-weight-bold inter mt-20">Incendios forestales</h1>

    <h2 class="text-green font-weight-bold inter">Búsqueda de sucesos</h2>
  </div>
</div>

<!-- Filtros -->
<div class="d-flex pt-15 gap-50">
  <div class="d-flex">
    <div class="pt-12 pe-15 inter font-weight-bold font-size-16">
      Denominación
    </div>

    <div>
      <input
        class="form-control"
        type="text"
        placeholder="Santa María de Guía de Gran Canaría"
      />
    </div>
  </div>

  <div class="d-flex">
    <div class="pt-12 pe-15 inter font-weight-bold font-size-16">Provincia</div>

    <div>
      <select class="form-control">
        <option value="">Santa Cruz de Tenerife</option>
      </select>
    </div>
  </div>

  <div class="d-flex">
    <div class="pt-12 font-size-16 pe-15 inter font-weight-bold">Municipio</div>

    <div>
      <select class="form-control">
        <option value="">Santa María de Guía de Gran Canaría</option>
      </select>
    </div>

    <div class="ms-10">
      <img src="/assets/img/location-btn.svg" alt="location-btn" />
    </div>
  </div>

  <div class="d-flex">
    <div class="pt-12 font-size-16 pe-15 inter font-weight-bold">Inicio</div>

    <div>
      <input
        class="form-control"
        type="datetime-local"
        value="2024-08-20 00:00:00"
      />
    </div>
  </div>
</div>

<div class="d-flex pt-15 gap-50">
  <div class="d-flex">
    <div class="pt-12 font-size-16 pe-15 inter font-weight-bold">
      Tipo de suceso
    </div>

    <div>
      <select class="form-control">
        <option value="">Ejercicio / Simulacro</option>
      </select>
    </div>
  </div>

  <div class="d-flex">
    <div class="pt-12 font-size-16 pe-15 inter font-weight-bold">
      Nota general
    </div>

    <div class="d-flex">
      <textarea class="form-control" rows="1" cols="134"></textarea>

      <button class="btn-white">
        <img src="/assets/img/arrow-expand.svg" alt="arrow-expand" />
      </button>
    </div>
  </div>
</div>

<div class="border-bottom text-right me-20 pt-15 pb-15">
  <button class="btn-blue">
    <img class="w-30 h-30" src="/assets/img/check.svg" alt="check" />
  </button>

  <button class="btn-white">
    <img class="w-30 h-30" src="/assets/img/list-btn.svg" alt="list-btn" />
  </button>

  <button class="btn-white">
    <img class="w-30 h-30" src="/assets/img/close.svg" alt="close" />
  </button>

  <button class="btn-white">
    <img class="w-30 h-30" src="/assets/img/refresh.svg" alt="refresh" />
  </button>

  <button class="btn-white">
    <img class="w-30 h-30" src="/assets/img/back.svg" alt="back" />
  </button>
</div>

<div class="me-20 mt-5">
  <img class="w-100" src="/assets/img/graph.svg" alt="graph" />
</div>

<hr class="me-20" />

<div class="d-flex mt-15 me-20">
  <div class="w-50 inter font-size-20 text-blue font-weight-bold">
    Registros
  </div>

  <div class="w-50 ms-50 text-right">
    <span class="inter font-size-16 me-30">Registro 1 de 15</span>

    <button class="btn-white">
      <img src="/assets/img/left-all.svg" alt="left-all" />
    </button>

    <button class="btn-white">
      <img src="/assets/img/left.svg" alt="left" />
    </button>

    <button class="btn-white">
      <img src="/assets/img/right.svg" alt="right" />
    </button>

    <button class="btn-white">
      <img src="/assets/img/right-all.svg" alt="right-all" />
    </button>
  </div>
</div>

<div>
  <table class="w-100">
    <thead>
      <tr>
        <th></th>
        <th>Fecha y hora</th>
        <th>Tipo inform.</th>
        <th>Proc. / Dest.</th>
        <th>ENT. / SAL.</th>
        <th>Medio</th>
        <th>Número</th>
        <th>Técnico</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of items">
        <td>
          <img class="w-30" src="/assets/img/arrow-up.svg" alt="arrow-down" />
        </td>

        <td>{{ item.datetime }}</td>
        <td>{{ item.info }}</td>
        <td>{{ item.proc_dest }}</td>
        <td>{{ item.ent_sal }}</td>
        <td>{{ item.medium }}</td>
        <td>{{ item.number }}</td>
        <td>{{ item.technical }}</td>

        <td>
          <img src="/assets/img/close.svg" alt="close" />
        </td>
      </tr>

      <tr>
        <td colspan="10">
          <div>
            <a
              href=""
              class="font-size-16 border text-decoration-none text-dark inter p-10 border-radius-8"
              >Datos generales</a
            >
            <a
              href=""
              class="font-size-16 border text-decoration-none text-dark inter p-10 border-radius-8"
              >Consecuencias</a
            >
            <a
              href=""
              class="font-size-16 border text-decoration-none text-dark inter p-10 border-radius-8"
              >Medios</a
            >
            <a
              href=""
              class="font-size-16 border text-decoration-none text-dark inter p-10 border-radius-8"
              >Area afectada</a
            >
            <a
              href=""
              class="font-size-16 border text-decoration-none text-dark inter p-10 border-radius-8"
              >Dirección</a
            >
            <a
              href=""
              class="font-size-16 border text-decoration-none text-dark inter p-10 border-radius-8"
              >Planes</a
            >
          </div>

          <div class="border mt-12 p-20">
            <div class="row">
              <div class="col ms-30">
                <div class="row">
                  <div class="col">
                    <div class="row">
                      <div
                        class="pt-12 font-size-16 pe-15 inter font-weight-bold"
                      >
                        Estado
                      </div>

                      <div>
                        <select class="form-control">
                          <option value="">Sin seguimiento</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="col">
                    <div class="row">
                      <div
                        class="pt-12 font-size-16 pe-15 inter font-weight-bold"
                      >
                        Actualización
                      </div>

                      <div>
                        <input
                          class="form-control"
                          type="datetime-local"
                          value="2024-08-20 00:00:00"
                        />
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row mt-10">
                  <div class="col">
                    <div class="row">
                      <div
                        class="pt-12 font-size-16 pe-15 inter font-weight-bold"
                      >
                        Tipo
                      </div>

                      <div>
                        <select class="form-control">
                          <option value="">Evolución</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="col">
                    <div class="row">
                      <div
                        class="pt-12 font-size-16 pe-15 inter font-weight-bold"
                      >
                        Nivel de gravedad
                      </div>

                      <div>
                        <select class="form-control">
                          <option value="">Sin especificar</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row mt-10">
                  <div class="col">
                    <div class="row">
                      <div
                        class="pt-12 font-size-16 pe-15 inter font-weight-bold"
                      >
                        Superficie afectada
                      </div>

                      <div>
                        <input
                          type="number"
                          class="form-control"
                          placeholder="50,00"
                        />
                      </div>
                    </div>
                  </div>

                  <div class="col">
                    <div class="row">
                      <div
                        class="pt-12 font-size-16 pe-15 inter font-weight-bold"
                      >
                        Fecha fin
                      </div>

                      <div>
                        <input
                          class="form-control"
                          type="datetime-local"
                          value="2024-08-20 00:00:00"
                        />
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row mt-10">
                  <div class="col">
                    <div class="row">
                      <div
                        class="pt-12 font-size-16 pe-15 inter font-weight-bold"
                      >
                        Comentarios

                        <br />

                        <textarea
                          class="mt-10 form-control"
                          cols="85"
                        ></textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div
                  class="pt-12 font-size-16 text-info pe-15 inter font-weight-bold"
                >
                  Registro
                </div>

                <div class="border mt-10 p-20">
                  <div class="row">
                    <div class="col">
                      <div>
                        <div
                          class="pt-12 font-size-16 pe-15 inter font-weight-bold"
                        >
                          Fecha
                        </div>

                        <div>
                          <input
                            class="form-control"
                            type="datetime-local"
                            value="2024-08-20 00:00:00"
                          />
                        </div>
                      </div>

                      <div>
                        <div
                          class="pt-12 font-size-16 pe-15 inter font-weight-bold"
                        >
                          Entrada / Salida
                        </div>

                        <div>
                          <select class="form-control">
                            <option value="">Sin especificar</option>
                          </select>
                        </div>
                      </div>

                      <div>
                        <div
                          class="pt-12 font-size-16 pe-15 inter font-weight-bold"
                        >
                          Medio
                        </div>

                        <div>
                          <select class="form-control">
                            <option value="">E-mail</option>
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="col">
                      <div
                        class="pt-12 font-size-16 pe-15 inter font-weight-bold"
                      >
                        Procedencia / Destinatario

                        <br />

                        <textarea class="form-control" cols="85"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="text-right">
            <button class="btn-blue">
              <img class="w-30 h-30" src="/assets/img/check.svg" alt="check" />
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
