@use "@angular/material" as mat;
@use "./app/m3-theme.scss" as theme;

@include mat.core();

$font-family: "Nunito", sans-serif;

:root {
  --primary-50: #186c93;
  --secondary-50: #608215;
  --icons: #608215;
  --title-color-green: #009900;
  --fire-color: rgb(255, 128, 0);
}

html {
  @include mat.all-component-themes(theme.$light-theme);
}

html,
body {
  height: 100%;
  font-family: $font-family;
  margin: 0;
}

h1 {
  font-family: $font-family;
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
}

h2 {
  font-family: $font-family;
  font-size: 28px;
  line-height: 36px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 20px;
}

h3,
h5,
h6 {
  font-family: $font-family;
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 0px;
}

h4 {
  font-family: $font-family;
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--primary-50) !important;
}

p {
  font-family: $font-family;
  font-size: 14px;
  line-height: 20px;
}

mat-toolbar h1 {
  font-family: $font-family !important;
  font-size: 32px !important;
  line-height: 40px !important;
  font-weight: 700 !important;
}

.mdc-list-item__primary-text {
  font-family: $font-family !important;
}

.mat-expansion-panel-header-title {
  font-family: $font-family;
  color: var(--primary-50) !important;
  font-size: 24px !important;
}

.mat-mdc-form-field:not(.mat-form-field-disabled)
  .mat-mdc-floating-label.mdc-floating-label {
  font-family: $font-family;
}

.mat-mdc-form-field:not(.mat-form-field-no-animations) .mdc-text-field__input {
  font-family: $font-family;
}

.mat-mdc-unelevated-button .mdc-button__label {
  font-family: $font-family;
  color: white;
}

table .mat-mdc-header-cell {
  font-family: $font-family;
}

.mat-mdc-cell {
  font-family: $font-family;
}

.mat-mdc-paginator-page-size-label {
  font-family: $font-family;
}

.mat-mdc-paginator-range-label {
  font-family: $font-family;
}

.mat-mdc-card-title {
  font-family: $font-family !important;
  color: var(--primary-50) !important;
}

.mat-mdc-standard-chip.mdc-evolution-chip--selected:not(
    .mdc-evolution-chip--disabled
  ) {
  background-color: var(--primary-50) !important;
}

.mat-mdc-standard-chip.mdc-evolution-chip--selected:not(
    .mdc-evolution-chip--disabled
  )
  .mdc-evolution-chip__text-label {
  color: white !important;
  font-family: $font-family !important;
  display: flex;
}

.mat-mdc-standard-chip.mdc-evolution-chip--with-primary-graphic
  .mdc-evolution-chip__graphic {
  color: white !important;
}

.mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled)
  .mdc-evolution-chip__text-label {
  font-family: $font-family !important;
}

.mat-mdc-tooltip-surface {
  background-color:var(--primary-50) !important;
  color: white !important; 
}

