<div class="modal-header">
    <h2 mat-dialog-title class="title">{{ data.title }}</h2>
  </div>
  
  <div class="container">
    <div class="side-menu">
      <mat-chip-listbox>
        <mat-chip-option *ngFor="let sec of sections; trackBy: trackByFn" class="full-width-chip">
          {{ sec }}
        </mat-chip-option>
      </mat-chip-listbox>
    </div>
  
    <div class="form-container">
      <form *ngIf="formData" [formGroup]="formData">
        <!-- REGISTRO -->
        <div>
          <h3 class="title">REGISTRO</h3>
          <div class="row" fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="start center">

            <mat-form-field appearance="fill" fxFlex="25%" class="mb-3">
              <mat-label>Fecha y Hora</mat-label>
              <input matInput [matDatepicker]="picker1" [formControl]="getForm('startDate')" />
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
  
            <mat-form-field class="input spaced-input" fxFlex="25%">
              <mat-label>Entrada / salida</mat-label>
              <mat-select formControlName="inputOutput">
                <mat-option *ngFor="let option of inputOutputs()" [value]="option.id">
                  {{ option.descripcion }}
                </mat-option>
              </mat-select>
            </mat-form-field>
  
            <mat-form-field class="input spaced-input" fxFlex="25%">
              <mat-label>Medio</mat-label>
              <mat-select formControlName="media">
                <mat-option *ngFor="let medio of medias()" [value]="medio.id">
                  {{ medio.descripcion }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="input spaced-input" fxFlex="25%">
              <mat-label>Procedencia / Destino </mat-label>
              <mat-select formControlName="media">
                <mat-option *ngFor="let origen of originDestinations()" [value]="origen.id">
                  {{ origen.descripcion }}
                </mat-option>
              </mat-select>
            </mat-form-field>

          </div>
        </div>
  
        <!-- DATOS PRINCIPALES -->
        <div>
          <h3 class="title">DATOS PRINCIPALES</h3>
  
          <div class="row" fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="start center">
      
            <mat-form-field appearance="fill" fxFlex="25%" class="mb-3">
              <mat-label>Fecha y hora de actualización</mat-label>
              <input matInput [matDatepicker]="picker2" [formControl]="getForm('datetimeUpdate')" />
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="input spaced-input" fxFlex="75%">
              <mat-label>Observaciones</mat-label>
              <textarea matInput [formControl]="getForm('observations_1')"> </textarea>
            </mat-form-field>
          </div>
  
          <div class="row" fxLayout="row" fxLayoutAlign="start center">

            <mat-form-field class="input full-width-input" fxFlex="99%">
              <mat-label>Previsión</mat-label>
              <textarea matInput [formControl]="getForm('forecast')"> </textarea>
            </mat-form-field>
          </div>
        </div>
  
        <!-- PARÁMETROS -->
        <div>
          <h3 class="title">PARÁMETROS</h3>
          <div class="row" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
  
            <mat-form-field class="input spaced-input" fxFlex="20%">
              <mat-label>Estado del incendio </mat-label>
              <mat-select formControlName="media">
                <mat-option *ngFor="let op of status()" [value]="op.id">
                  {{ op.descripcion }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="input spaced-input" fxFlex="20%">
              <mat-label>Fecha final</mat-label>
              <input matInput [matDatepicker]="picker3" [formControl]="getForm('end_date')" />
              <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
              <mat-datepicker #picker3></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="input spaced-input" fxFlex="60%">
              <mat-label>Plan de emergencias activado</mat-label>
              <input matInput [formControl]="getForm('emergencyPlanActivated')" placeholder="Ingresa texto" required />
            </mat-form-field>
  
            <!-- <mat-form-field class="input spaced-input" fxFlex="20%">
              <mat-label>Fecha</mat-label>
              <input matInput [matDatepicker]="picker" />
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field> -->
  
            <!-- <mat-form-field class="input spaced-input" fxFlex="60%">
              <mat-label>Selecciona otro</mat-label>
              <mat-select>
                <mat-option *ngFor="let option of anotherSelectOptions" [value]="option">{{ option }}</mat-option>
              </mat-select>
            </mat-form-field> -->
          </div>
        </div>
  
        <div class="row" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
          <!-- <mat-form-field class="input spaced-input" fxFlex="20%">
            <mat-label>Campo 1</mat-label>
            <mat-select>
              <mat-option *ngFor="let option of selectOptions" [value]="option">{{ option }}</mat-option>
            </mat-select>
          </mat-form-field> -->
  
          <!-- <mat-form-field class="input spaced-input" fxFlex="20%">
            <mat-label>Campo 2</mat-label>
            <mat-select>
              <mat-option *ngFor="let option of selectOptions" [value]="option">{{ option }}</mat-option>
            </mat-select>
          </mat-form-field> -->
  
          <!-- <mat-form-field class="input spaced-input" fxFlex="20%">
            <mat-label>Campo 3</mat-label>
            <mat-select>
              <mat-option *ngFor="let option of selectOptions" [value]="option">{{ option }}</mat-option>
            </mat-select>
          </mat-form-field> -->
  
          <!-- <mat-form-field class="input spaced-input" fxFlex="20%">
            <mat-label>Texto</mat-label>
            <input matInput />
          </mat-form-field> -->
        </div>
      </form>  
      <div class="modal-footer" fxLayout="row" fxLayoutAlign="space-between center">
        <button mat-flat-button [style.background-color]="'var(--fire-color)'">Eliminar</button>
        
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
            <button mat-flat-button color="accent" style="margin-right: 10px;">Volver</button>
            <button mat-raised-button color="secondary" style="margin-right: 10px;">Foto</button>
            <button mat-flat-button color="primary" style="margin-right: 10px;">Guardar</button>
          </div>
        </div>
    </div>
    
  </div>


  
 