<div class="row" fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="start center">
    <mat-form-field class="input full-width-input" fxFlex="80%">
        <mat-label>Motivo de la cancelación</mat-label>
        <input matInput [formControl]="getForm('AutoridadSolicitante')" placeholder="Ingresa texto" />
        <mat-error *ngIf="formGroup.get('AutoridadSolicitante')?.hasError('required')">Este campo es obligatorio.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" fxFlex="20%" class="mb-3">
        <mat-label>Fecha / hora de cancelación</mat-label>
        <input matInput [matDatepicker]="picker" [formControl]="getForm('FechaHoraSolicitud')" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="formGroup.get('FechaHoraSolicitud')?.hasError('required')">Este campo es obligatorio.</mat-error>
      </mat-form-field>
  </div>

